<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.garfield.combat.dao.AffixQuestionMapper">
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.AffixQuestion">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="PAT_INDEX_NO" jdbcType="VARCHAR" property="patIndexNo" />
    <result column="EVALUTION_LIST_ID" jdbcType="DECIMAL" property="evalutionListId" />
    <result column="UNIQUE_ID" jdbcType="DECIMAL" property="uniqueId" />
    <result column="SORT_NUM" jdbcType="DECIMAL" property="sortNum" />
    <result column="ORGAN_CODE" jdbcType="VARCHAR" property="organCode" />
    <result column="WARD_CODE" jdbcType="VARCHAR" property="wardCode" />
  </resultMap>
</mapper>