<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.garfield.combat.dao.Catalogue1Mapper">
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.Catalogue1">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="CATALOGUE_CODE" jdbcType="VARCHAR" property="catalogueCode" />
    <result column="CATALOGUE_RULE" jdbcType="VARCHAR" property="catalogueRule" />
    <result column="BASIC_TYPE" jdbcType="VARCHAR" property="basicType" />
    <result column="CATALOGUE_STATUS" jdbcType="VARCHAR" property="catalogueStatus" />
    <result column="CATALOGUE_REMARK" jdbcType="VARCHAR" property="catalogueRemark" />
    <result column="SORT_NUM" jdbcType="DECIMAL" property="sortNum" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UNIQUE_CODE" jdbcType="VARCHAR" property="uniqueCode" />
    <result column="CATALOGUE_NAME" jdbcType="VARCHAR" property="catalogueName" />
    <result column="CATALOGUE_SPELL" jdbcType="VARCHAR" property="catalogueSpell" />
    <result column="ENGLISH_NAME" jdbcType="VARCHAR" property="englishName" />
    <result column="CHINESE_TRADITIONAL" jdbcType="VARCHAR" property="chineseTraditional" />
    <result column="CATALOGUE_ALIAS" jdbcType="VARCHAR" property="catalogueAlias" />
    <result column="CLASSIFY" jdbcType="VARCHAR" property="classify" />
    <result column="CLASSIFY_CODE" jdbcType="VARCHAR" property="classifyCode" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.Catalogue1">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="CATALOGUE_CODE" jdbcType="VARCHAR" property="catalogueCode" />
  </resultMap>
</mapper>