<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.garfield.combat.dao.CatalogueTcmUnitMapper" >
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.CatalogueTcmUnit" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="CATALOGUE_RULE" property="catalogueRule" jdbcType="VARCHAR" />
    <result column="UNIT_CODE" property="unitCode" jdbcType="VARCHAR" />
    <result column="UNIT_STATUS" property="unitStatus" jdbcType="VARCHAR" />
    <result column="UNIT_TYPE" property="unitType" jdbcType="VARCHAR" />
    <result column="UNIT_TYPE_NAME" property="unitTypeName" jdbcType="VARCHAR" />
    <result column="UNIQUE_CODE" property="uniqueCode" jdbcType="VARCHAR" />
    <result column="CATALOGUE_SPELL" property="catalogueSpell" jdbcType="VARCHAR" />
    <result column="SORT_NUM" property="sortNum" jdbcType="DECIMAL" />
    <result column="CHINESE_TRADITIONAL" property="chineseTraditional" jdbcType="VARCHAR" />
    <result column="ENGLISH_NAME" property="englishName" jdbcType="VARCHAR" />
    <result column="UNIT_NAME" property="unitName" jdbcType="OTHER" />
    <result column="UNIT_REMARK" property="unitRemark" jdbcType="VARCHAR" />
    <result column="ALIAS_UNIT_NAME" property="aliasUnitName" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>