<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.garfield.combat.dao.CatalogueUnitMapper">
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.CatalogueUnit">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="UNIT_CODE" jdbcType="VARCHAR" property="unitCode" />
    <result column="CATALOGUE_RULE" jdbcType="VARCHAR" property="catalogueRule" />
    <result column="UNIT_STATUS" jdbcType="VARCHAR" property="unitStatus" />
    <result column="UNIT_TYPE" jdbcType="VARCHAR" property="unitType" />
    <result column="UNIT_TYPE_NAME" jdbcType="VARCHAR" property="unitTypeName" />
    <result column="UNIQUE_CODE" jdbcType="VARCHAR" property="uniqueCode" />
    <result column="CATALOGUE_SPELL" jdbcType="VARCHAR" property="catalogueSpell" />
    <result column="SORT_NUM" jdbcType="DECIMAL" property="sortNum" />
    <result column="CHINESE_TRADITIONAL" jdbcType="VARCHAR" property="chineseTraditional" />
    <result column="ENGLISH_NAME" jdbcType="VARCHAR" property="englishName" />
    <result column="UNIT_NAME" jdbcType="OTHER" property="unitName" />
    <result column="UNIT_REMARK" jdbcType="VARCHAR" property="unitRemark" />
    <result column="ALIAS_UNIT_NAME" jdbcType="VARCHAR" property="aliasUnitName" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.CatalogueUnit">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="UNIT_CODE" jdbcType="VARCHAR" property="unitCode" />
    <result column="CATALOGUE_RULE" jdbcType="VARCHAR" property="catalogueRule" />
    <result column="UNIT_STATUS" jdbcType="VARCHAR" property="unitStatus" />
    <result column="UNIT_TYPE" jdbcType="VARCHAR" property="unitType" />
    <result column="UNIT_TYPE_NAME" jdbcType="VARCHAR" property="unitTypeName" />
    <result column="UNIQUE_CODE" jdbcType="VARCHAR" property="uniqueCode" />
    <result column="CATALOGUE_SPELL" jdbcType="VARCHAR" property="catalogueSpell" />
    <result column="SORT_NUM" jdbcType="DECIMAL" property="sortNum" />
    <result column="CHINESE_TRADITIONAL" jdbcType="VARCHAR" property="chineseTraditional" />
    <result column="ENGLISH_NAME" jdbcType="VARCHAR" property="englishName" />
    <result column="UNIT_NAME" jdbcType="OTHER" property="unitName" />
    <result column="UNIT_REMARK" jdbcType="VARCHAR" property="unitRemark" />
    <result column="ALIAS_UNIT_NAME" jdbcType="VARCHAR" property="aliasUnitName" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.CatalogueUnit">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="RULE" jdbcType="VARCHAR" property="rule" />
    <result column="CATALOGUE_NAME" jdbcType="VARCHAR" property="catalogueName" />
    <result column="CATALOGUE_CODE" jdbcType="VARCHAR" property="catalogueCode" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="SPELL" jdbcType="VARCHAR" property="spell" />
    <result column="BASIC_TYPE" jdbcType="VARCHAR" property="basicType" />
    <result column="CLASSIFY" jdbcType="VARCHAR" property="classify" />
    <result column="CLASSIFY_CODE" jdbcType="VARCHAR" property="classifyCode" />
    <result column="CHECK_CODE" jdbcType="VARCHAR" property="checkCode" />
    <result column="STANDARD_CODE" jdbcType="VARCHAR" property="standardCode" />
    <result column="UNIQUE_CODE" jdbcType="VARCHAR" property="uniqueCode" />
    <result column="SEARCH_NAME" jdbcType="VARCHAR" property="searchName" />
    <result column="SORT_NUM" jdbcType="DECIMAL" property="sortNum" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.CatalogueUnit">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="UNIT_CODE" jdbcType="VARCHAR" property="unitCode" />
    <result column="CATALOGUE_RULE" jdbcType="VARCHAR" property="catalogueRule" />
    <result column="UNIT_STATUS" jdbcType="VARCHAR" property="unitStatus" />
    <result column="UNIT_TYPE" jdbcType="VARCHAR" property="unitType" />
    <result column="UNIT_TYPE_NAME" jdbcType="VARCHAR" property="unitTypeName" />
    <result column="UNIQUE_CODE" jdbcType="VARCHAR" property="uniqueCode" />
    <result column="CATALOGUE_SPELL" jdbcType="VARCHAR" property="catalogueSpell" />
    <result column="SORT_NUM" jdbcType="DECIMAL" property="sortNum" />
    <result column="CHINESE_TRADITIONAL" jdbcType="VARCHAR" property="chineseTraditional" />
    <result column="ENGLISH_NAME" jdbcType="VARCHAR" property="englishName" />
    <result column="UNIT_NAME" jdbcType="OTHER" property="unitName" />
    <result column="UNIT_REMARK" jdbcType="VARCHAR" property="unitRemark" />
    <result column="ALIAS_UNIT_NAME" jdbcType="VARCHAR" property="aliasUnitName" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.CatalogueUnit">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="UNIT_CODE" jdbcType="VARCHAR" property="unitCode" />
    <result column="CATALOGUE_RULE" jdbcType="VARCHAR" property="catalogueRule" />
    <result column="UNIT_NAME" jdbcType="OTHER" property="unitName" />
    <result column="ALIAS_UNIT_NAME" jdbcType="VARCHAR" property="aliasUnitName" />
    <result column="UNIT_STATUS" jdbcType="VARCHAR" property="unitStatus" />
    <result column="UNIT_REMARK" jdbcType="VARCHAR" property="unitRemark" />
    <result column="UNIT_TYPE" jdbcType="VARCHAR" property="unitType" />
    <result column="UNIT_TYPE_NAME" jdbcType="VARCHAR" property="unitTypeName" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.CatalogueUnit">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="UNIT_CODE" jdbcType="VARCHAR" property="unitCode" />
    <result column="CATALOGUE_RULE" jdbcType="VARCHAR" property="catalogueRule" />
    <result column="UNIT_STATUS" jdbcType="VARCHAR" property="unitStatus" />
    <result column="UNIT_TYPE" jdbcType="VARCHAR" property="unitType" />
    <result column="UNIT_TYPE_NAME" jdbcType="VARCHAR" property="unitTypeName" />
    <result column="UNIQUE_CODE" jdbcType="VARCHAR" property="uniqueCode" />
    <result column="CATALOGUE_SPELL" jdbcType="VARCHAR" property="catalogueSpell" />
    <result column="SORT_NUM" jdbcType="DECIMAL" property="sortNum" />
    <result column="CHINESE_TRADITIONAL" jdbcType="VARCHAR" property="chineseTraditional" />
    <result column="ENGLISH_NAME" jdbcType="VARCHAR" property="englishName" />
    <result column="UNIT_NAME" jdbcType="OTHER" property="unitName" />
    <result column="UNIT_REMARK" jdbcType="VARCHAR" property="unitRemark" />
    <result column="ALIAS_UNIT_NAME" jdbcType="VARCHAR" property="aliasUnitName" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.CatalogueUnit">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="UNIT_CODE" jdbcType="VARCHAR" property="unitCode" />
    <result column="CATALOGUE_RULE" jdbcType="VARCHAR" property="catalogueRule" />
    <result column="UNIT_NAME" jdbcType="OTHER" property="unitName" />
    <result column="ALIAS_UNIT_NAME" jdbcType="VARCHAR" property="aliasUnitName" />
    <result column="UNIT_STATUS" jdbcType="VARCHAR" property="unitStatus" />
    <result column="UNIT_REMARK" jdbcType="VARCHAR" property="unitRemark" />
    <result column="UNIT_TYPE" jdbcType="VARCHAR" property="unitType" />
    <result column="UNIT_TYPE_NAME" jdbcType="VARCHAR" property="unitTypeName" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.CatalogueUnit">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="UNIT_CODE" jdbcType="VARCHAR" property="unitCode" />
    <result column="CATALOGUE_RULE" jdbcType="VARCHAR" property="catalogueRule" />
    <result column="UNIT_NAME" jdbcType="OTHER" property="unitName" />
    <result column="ALIAS_UNIT_NAME" jdbcType="VARCHAR" property="aliasUnitName" />
    <result column="UNIT_STATUS" jdbcType="VARCHAR" property="unitStatus" />
    <result column="UNIT_REMARK" jdbcType="VARCHAR" property="unitRemark" />
    <result column="UNIT_TYPE" jdbcType="VARCHAR" property="unitType" />
    <result column="UNIT_TYPE_NAME" jdbcType="VARCHAR" property="unitTypeName" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.CatalogueUnit">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="UNIT_CODE" jdbcType="VARCHAR" property="unitCode" />
    <result column="CATALOGUE_RULE" jdbcType="VARCHAR" property="catalogueRule" />
    <result column="UNIT_NAME" jdbcType="OTHER" property="unitName" />
    <result column="ALIAS_UNIT_NAME" jdbcType="VARCHAR" property="aliasUnitName" />
    <result column="UNIT_STATUS" jdbcType="VARCHAR" property="unitStatus" />
    <result column="UNIT_REMARK" jdbcType="VARCHAR" property="unitRemark" />
    <result column="UNIT_TYPE" jdbcType="VARCHAR" property="unitType" />
    <result column="UNIT_TYPE_NAME" jdbcType="VARCHAR" property="unitTypeName" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.CatalogueUnit">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="UNIT_CODE" jdbcType="VARCHAR" property="unitCode" />
    <result column="CATALOGUE_RULE" jdbcType="VARCHAR" property="catalogueRule" />
    <result column="UNIT_NAME" jdbcType="OTHER" property="unitName" />
    <result column="ALIAS_UNIT_NAME" jdbcType="VARCHAR" property="aliasUnitName" />
    <result column="UNIT_STATUS" jdbcType="VARCHAR" property="unitStatus" />
    <result column="UNIT_REMARK" jdbcType="VARCHAR" property="unitRemark" />
    <result column="UNIT_TYPE" jdbcType="VARCHAR" property="unitType" />
    <result column="UNIT_TYPE_NAME" jdbcType="VARCHAR" property="unitTypeName" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.CatalogueUnit">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="UNIT_CODE" jdbcType="VARCHAR" property="unitCode" />
    <result column="CATALOGUE_RULE" jdbcType="VARCHAR" property="catalogueRule" />
    <result column="UNIT_STATUS" jdbcType="VARCHAR" property="unitStatus" />
    <result column="UNIT_TYPE" jdbcType="VARCHAR" property="unitType" />
    <result column="UNIT_TYPE_NAME" jdbcType="VARCHAR" property="unitTypeName" />
    <result column="UNIQUE_CODE" jdbcType="VARCHAR" property="uniqueCode" />
    <result column="CATALOGUE_SPELL" jdbcType="VARCHAR" property="catalogueSpell" />
    <result column="SORT_NUM" jdbcType="DECIMAL" property="sortNum" />
    <result column="CHINESE_TRADITIONAL" jdbcType="VARCHAR" property="chineseTraditional" />
    <result column="ENGLISH_NAME" jdbcType="VARCHAR" property="englishName" />
    <result column="UNIT_NAME" jdbcType="OTHER" property="unitName" />
    <result column="UNIT_REMARK" jdbcType="VARCHAR" property="unitRemark" />
    <result column="ALIAS_UNIT_NAME" jdbcType="VARCHAR" property="aliasUnitName" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.CatalogueUnit">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="UNIT_CODE" jdbcType="VARCHAR" property="unitCode" />
    <result column="CATALOGUE_RULE" jdbcType="VARCHAR" property="catalogueRule" />
    <result column="UNIT_NAME" jdbcType="OTHER" property="unitName" />
    <result column="ALIAS_UNIT_NAME" jdbcType="VARCHAR" property="aliasUnitName" />
    <result column="UNIT_STATUS" jdbcType="VARCHAR" property="unitStatus" />
    <result column="UNIT_REMARK" jdbcType="VARCHAR" property="unitRemark" />
    <result column="UNIT_TYPE" jdbcType="VARCHAR" property="unitType" />
    <result column="UNIT_TYPE_NAME" jdbcType="VARCHAR" property="unitTypeName" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.CatalogueUnit">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="UNIT_CODE" jdbcType="VARCHAR" property="unitCode" />
    <result column="CATALOGUE_RULE" jdbcType="VARCHAR" property="catalogueRule" />
    <result column="UNIT_NAME" jdbcType="OTHER" property="unitName" />
    <result column="ALIAS_UNIT_NAME" jdbcType="VARCHAR" property="aliasUnitName" />
    <result column="UNIT_STATUS" jdbcType="VARCHAR" property="unitStatus" />
    <result column="UNIT_REMARK" jdbcType="VARCHAR" property="unitRemark" />
    <result column="UNIT_TYPE" jdbcType="VARCHAR" property="unitType" />
    <result column="UNIT_TYPE_NAME" jdbcType="VARCHAR" property="unitTypeName" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.CatalogueUnit">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="UNIT_CODE" jdbcType="VARCHAR" property="unitCode" />
    <result column="CATALOGUE_RULE" jdbcType="VARCHAR" property="catalogueRule" />
    <result column="UNIT_STATUS" jdbcType="VARCHAR" property="unitStatus" />
    <result column="UNIT_TYPE" jdbcType="VARCHAR" property="unitType" />
    <result column="UNIT_TYPE_NAME" jdbcType="VARCHAR" property="unitTypeName" />
    <result column="UNIQUE_CODE" jdbcType="VARCHAR" property="uniqueCode" />
    <result column="CATALOGUE_SPELL" jdbcType="VARCHAR" property="catalogueSpell" />
    <result column="SORT_NUM" jdbcType="DECIMAL" property="sortNum" />
    <result column="CHINESE_TRADITIONAL" jdbcType="VARCHAR" property="chineseTraditional" />
    <result column="ENGLISH_NAME" jdbcType="VARCHAR" property="englishName" />
    <result column="UNIT_NAME" jdbcType="OTHER" property="unitName" />
    <result column="UNIT_REMARK" jdbcType="VARCHAR" property="unitRemark" />
    <result column="ALIAS_UNIT_NAME" jdbcType="VARCHAR" property="aliasUnitName" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.CatalogueUnit">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="UNIT_CODE" jdbcType="VARCHAR" property="unitCode" />
    <result column="CATALOGUE_RULE" jdbcType="VARCHAR" property="catalogueRule" />
    <result column="UNIT_STATUS" jdbcType="VARCHAR" property="unitStatus" />
    <result column="UNIT_TYPE" jdbcType="VARCHAR" property="unitType" />
    <result column="UNIT_TYPE_NAME" jdbcType="VARCHAR" property="unitTypeName" />
    <result column="UNIQUE_CODE" jdbcType="VARCHAR" property="uniqueCode" />
    <result column="CATALOGUE_SPELL" jdbcType="VARCHAR" property="catalogueSpell" />
    <result column="SORT_NUM" jdbcType="DECIMAL" property="sortNum" />
    <result column="CHINESE_TRADITIONAL" jdbcType="VARCHAR" property="chineseTraditional" />
    <result column="ENGLISH_NAME" jdbcType="VARCHAR" property="englishName" />
    <result column="UNIT_NAME" jdbcType="OTHER" property="unitName" />
    <result column="UNIT_REMARK" jdbcType="VARCHAR" property="unitRemark" />
    <result column="ALIAS_UNIT_NAME" jdbcType="VARCHAR" property="aliasUnitName" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.CatalogueUnit">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="UNIT_CODE" jdbcType="VARCHAR" property="unitCode" />
    <result column="CATALOGUE_RULE" jdbcType="VARCHAR" property="catalogueRule" />
    <result column="UNIT_NAME" jdbcType="OTHER" property="unitName" />
    <result column="ALIAS_UNIT_NAME" jdbcType="VARCHAR" property="aliasUnitName" />
    <result column="UNIT_STATUS" jdbcType="VARCHAR" property="unitStatus" />
    <result column="UNIT_REMARK" jdbcType="VARCHAR" property="unitRemark" />
    <result column="UNIT_TYPE" jdbcType="VARCHAR" property="unitType" />
    <result column="UNIT_TYPE_NAME" jdbcType="VARCHAR" property="unitTypeName" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.CatalogueUnit">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="UNIT_CODE" jdbcType="VARCHAR" property="unitCode" />
    <result column="CATALOGUE_RULE" jdbcType="VARCHAR" property="catalogueRule" />
    <result column="UNIT_STATUS" jdbcType="VARCHAR" property="unitStatus" />
    <result column="UNIT_TYPE" jdbcType="VARCHAR" property="unitType" />
    <result column="UNIT_TYPE_NAME" jdbcType="VARCHAR" property="unitTypeName" />
    <result column="UNIQUE_CODE" jdbcType="VARCHAR" property="uniqueCode" />
    <result column="CATALOGUE_SPELL" jdbcType="VARCHAR" property="catalogueSpell" />
    <result column="SORT_NUM" jdbcType="DECIMAL" property="sortNum" />
    <result column="CHINESE_TRADITIONAL" jdbcType="VARCHAR" property="chineseTraditional" />
    <result column="ENGLISH_NAME" jdbcType="VARCHAR" property="englishName" />
    <result column="UNIT_NAME" jdbcType="OTHER" property="unitName" />
    <result column="UNIT_REMARK" jdbcType="VARCHAR" property="unitRemark" />
    <result column="ALIAS_UNIT_NAME" jdbcType="VARCHAR" property="aliasUnitName" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.CatalogueUnit">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="UNIT_CODE" jdbcType="VARCHAR" property="unitCode" />
    <result column="CATALOGUE_RULE" jdbcType="VARCHAR" property="catalogueRule" />
    <result column="UNIT_NAME" jdbcType="OTHER" property="unitName" />
    <result column="ALIAS_UNIT_NAME" jdbcType="VARCHAR" property="aliasUnitName" />
    <result column="UNIT_STATUS" jdbcType="VARCHAR" property="unitStatus" />
    <result column="UNIT_REMARK" jdbcType="VARCHAR" property="unitRemark" />
    <result column="UNIT_TYPE" jdbcType="VARCHAR" property="unitType" />
    <result column="UNIT_TYPE_NAME" jdbcType="VARCHAR" property="unitTypeName" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.CatalogueUnit">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="UNIT_CODE" jdbcType="VARCHAR" property="unitCode" />
    <result column="CATALOGUE_RULE" jdbcType="VARCHAR" property="catalogueRule" />
    <result column="UNIT_STATUS" jdbcType="VARCHAR" property="unitStatus" />
    <result column="UNIT_TYPE" jdbcType="VARCHAR" property="unitType" />
    <result column="UNIT_TYPE_NAME" jdbcType="VARCHAR" property="unitTypeName" />
    <result column="UNIQUE_CODE" jdbcType="VARCHAR" property="uniqueCode" />
    <result column="CATALOGUE_SPELL" jdbcType="VARCHAR" property="catalogueSpell" />
    <result column="SORT_NUM" jdbcType="DECIMAL" property="sortNum" />
    <result column="CHINESE_TRADITIONAL" jdbcType="VARCHAR" property="chineseTraditional" />
    <result column="ENGLISH_NAME" jdbcType="VARCHAR" property="englishName" />
    <result column="UNIT_NAME" jdbcType="OTHER" property="unitName" />
    <result column="UNIT_REMARK" jdbcType="VARCHAR" property="unitRemark" />
    <result column="ALIAS_UNIT_NAME" jdbcType="VARCHAR" property="aliasUnitName" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.CatalogueUnit">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="UNIT_CODE" jdbcType="OTHER" property="unitCode" />
    <result column="CATALOGUE_RULE" jdbcType="OTHER" property="catalogueRule" />
    <result column="UNIT_NAME" jdbcType="OTHER" property="unitName" />
    <result column="ALIAS_UNIT_NAME" jdbcType="OTHER" property="aliasUnitName" />
    <result column="UNIT_STATUS" jdbcType="OTHER" property="unitStatus" />
    <result column="UNIT_REMARK" jdbcType="OTHER" property="unitRemark" />
    <result column="UNIT_TYPE" jdbcType="OTHER" property="unitType" />
    <result column="UNIT_TYPE_NAME" jdbcType="OTHER" property="unitTypeName" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.CatalogueUnit">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="UNIT_CODE" jdbcType="VARCHAR" property="unitCode" />
    <result column="CATALOGUE_RULE" jdbcType="VARCHAR" property="catalogueRule" />
    <result column="UNIT_NAME" jdbcType="OTHER" property="unitName" />
    <result column="ALIAS_UNIT_NAME" jdbcType="VARCHAR" property="aliasUnitName" />
    <result column="UNIT_STATUS" jdbcType="VARCHAR" property="unitStatus" />
    <result column="UNIT_REMARK" jdbcType="VARCHAR" property="unitRemark" />
    <result column="UNIT_TYPE" jdbcType="VARCHAR" property="unitType" />
    <result column="UNIT_TYPE_NAME" jdbcType="VARCHAR" property="unitTypeName" />
  </resultMap>
</mapper>