<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.garfield.combat.dao.CatalogueMapper">
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.Catalogue">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <id column="CATALOGUE_CODE" jdbcType="VARCHAR" property="catalogueCode" />
    <result column="RULE" jdbcType="VARCHAR" property="rule" />
    <result column="CATALOGUE_NAME" jdbcType="VARCHAR" property="catalogueName" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="SPELL" jdbcType="VARCHAR" property="spell" />
    <result column="DEFINITION" jdbcType="VARCHAR" property="definition" />
    <result column="DEFINITION_SPELL" jdbcType="VARCHAR" property="definitionSpell" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="CONTENTS" jdbcType="VARCHAR" property="contents" />
    <result column="ACTIVITY_TYPE" jdbcType="VARCHAR" property="activityType" />
    <result column="CHECK_CODE" jdbcType="VARCHAR" property="checkCode" />
    <result column="STANDARD_CODE" jdbcType="VARCHAR" property="standardCode" />
    <result column="OTHER_CODE" jdbcType="VARCHAR" property="otherCode" />
    <result column="ALIAS" jdbcType="VARCHAR" property="alias" />
    <result column="SEARCH_NAME" jdbcType="VARCHAR" property="searchName" />
    <result column="SORT_NUM" jdbcType="DECIMAL" property="sortNum" />
    <result column="UNIQUE_CODE" jdbcType="VARCHAR" property="uniqueCode" />
    <result column="CLASSIFY" jdbcType="VARCHAR" property="classify" />
    <result column="CLASSIFY_CODE" jdbcType="VARCHAR" property="classifyCode" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="TYPE" jdbcType="DECIMAL" property="type" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.Catalogue">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="CATALOGUE_RULE" jdbcType="VARCHAR" property="catalogueRule" />
    <id column="CATALOGUE_CODE" jdbcType="VARCHAR" property="catalogueCode" />
    <result column="BASIC_TYPE" jdbcType="VARCHAR" property="basicType" />
    <result column="BASIC_CLASSIFY" jdbcType="VARCHAR" property="basicClassify" />
    <result column="SECOND_CLASSIFY" jdbcType="VARCHAR" property="secondClassify" />
    <result column="THIRD_CLASSIFY" jdbcType="VARCHAR" property="thirdClassify" />
    <result column="FOURTH_CLASSIFY" jdbcType="VARCHAR" property="fourthClassify" />
    <result column="FIFTH_CLASSIFY" jdbcType="VARCHAR" property="fifthClassify" />
    <result column="CATALOGUE_STATUS" jdbcType="VARCHAR" property="catalogueStatus" />
    <result column="CATALOGUE_REMARK" jdbcType="VARCHAR" property="catalogueRemark" />
    <result column="CATALOGUE_REMARK_SPELL" jdbcType="VARCHAR" property="catalogueRemarkSpell" />
    <result column="SORT_NUM" jdbcType="DECIMAL" property="sortNum" />
    <result column="AUDIT_TIME" jdbcType="TIMESTAMP" property="auditTime" />
    <result column="APPLICANTOR" jdbcType="VARCHAR" property="applicantor" />
    <result column="APPROVER" jdbcType="VARCHAR" property="approver" />
    <result column="APPROVAL_STATUS" jdbcType="VARCHAR" property="approvalStatus" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="APPLICANTOR_ID" jdbcType="VARCHAR" property="applicantorId" />
    <result column="UNIQUE_CODE" jdbcType="VARCHAR" property="uniqueCode" />
    <result column="SUGGESTION" jdbcType="VARCHAR" property="suggestion" />
    <result column="RELATE_CODE" jdbcType="VARCHAR" property="relateCode" />
    <result column="RELATE_KEY" jdbcType="VARCHAR" property="relateKey" />
    <result column="RELATE_VALUE" jdbcType="VARCHAR" property="relateValue" />
    <result column="HIERARCHY" jdbcType="VARCHAR" property="hierarchy" />
    <result column="CATALOGUE_NAME" jdbcType="VARCHAR" property="catalogueName" />
    <result column="CATALOGUE_SPELL" jdbcType="VARCHAR" property="catalogueSpell" />
    <result column="ENGLISH_NAME" jdbcType="VARCHAR" property="englishName" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.Catalogue">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="CATALOGUE_RULE" jdbcType="VARCHAR" property="catalogueRule" />
    <id column="CATALOGUE_CODE" jdbcType="VARCHAR" property="catalogueCode" />
    <result column="BASIC_TYPE" jdbcType="VARCHAR" property="basicType" />
    <result column="CATALOGUE_STATUS" jdbcType="VARCHAR" property="catalogueStatus" />
    <result column="CATALOGUE_REMARK" jdbcType="VARCHAR" property="catalogueRemark" />
    <result column="SORT_NUM" jdbcType="DECIMAL" property="sortNum" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UNIQUE_CODE" jdbcType="VARCHAR" property="uniqueCode" />
    <result column="CATALOGUE_NAME" jdbcType="VARCHAR" property="catalogueName" />
    <result column="CATALOGUE_SPELL" jdbcType="VARCHAR" property="catalogueSpell" />
    <result column="ENGLISH_NAME" jdbcType="VARCHAR" property="englishName" />
    <result column="CHINESE_TRADITIONAL" jdbcType="VARCHAR" property="chineseTraditional" />
    <result column="CATALOGUE_ALIAS" jdbcType="VARCHAR" property="catalogueAlias" />
    <result column="CLASSIFY" jdbcType="VARCHAR" property="classify" />
    <result column="CLASSIFY_CODE" jdbcType="VARCHAR" property="classifyCode" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.Catalogue">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="CATALOGUE_RULE" jdbcType="VARCHAR" property="catalogueRule" />
    <id column="CATALOGUE_CODE" jdbcType="VARCHAR" property="catalogueCode" />
    <result column="BASIC_TYPE" jdbcType="VARCHAR" property="basicType" />
    <result column="CATALOGUE_STATUS" jdbcType="VARCHAR" property="catalogueStatus" />
    <result column="CATALOGUE_REMARK" jdbcType="VARCHAR" property="catalogueRemark" />
    <result column="SORT_NUM" jdbcType="DECIMAL" property="sortNum" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UNIQUE_CODE" jdbcType="VARCHAR" property="uniqueCode" />
    <result column="CATALOGUE_NAME" jdbcType="VARCHAR" property="catalogueName" />
    <result column="CATALOGUE_SPELL" jdbcType="VARCHAR" property="catalogueSpell" />
    <result column="ENGLISH_NAME" jdbcType="VARCHAR" property="englishName" />
    <result column="CHINESE_TRADITIONAL" jdbcType="VARCHAR" property="chineseTraditional" />
    <result column="CATALOGUE_ALIAS" jdbcType="VARCHAR" property="catalogueAlias" />
    <result column="CLASSIFY" jdbcType="VARCHAR" property="classify" />
    <result column="CLASSIFY_CODE" jdbcType="VARCHAR" property="classifyCode" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.Catalogue">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="CATALOGUE_RULE" jdbcType="VARCHAR" property="catalogueRule" />
    <id column="CATALOGUE_CODE" jdbcType="VARCHAR" property="catalogueCode" />
    <result column="BASIC_TYPE" jdbcType="VARCHAR" property="basicType" />
    <result column="BASIC_CLASSIFY" jdbcType="VARCHAR" property="basicClassify" />
    <result column="SECOND_CLASSIFY" jdbcType="VARCHAR" property="secondClassify" />
    <result column="THIRD_CLASSIFY" jdbcType="VARCHAR" property="thirdClassify" />
    <result column="FOURTH_CLASSIFY" jdbcType="VARCHAR" property="fourthClassify" />
    <result column="FIFTH_CLASSIFY" jdbcType="VARCHAR" property="fifthClassify" />
    <result column="CATALOGUE_STATUS" jdbcType="VARCHAR" property="catalogueStatus" />
    <result column="CATALOGUE_REMARK" jdbcType="VARCHAR" property="catalogueRemark" />
    <result column="CATALOGUE_REMARK_SPELL" jdbcType="VARCHAR" property="catalogueRemarkSpell" />
    <result column="SORT_NUM" jdbcType="DECIMAL" property="sortNum" />
    <result column="AUDIT_TIME" jdbcType="TIMESTAMP" property="auditTime" />
    <result column="APPLICANTOR" jdbcType="VARCHAR" property="applicantor" />
    <result column="APPROVER" jdbcType="VARCHAR" property="approver" />
    <result column="APPROVAL_STATUS" jdbcType="VARCHAR" property="approvalStatus" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="APPLICANTOR_ID" jdbcType="VARCHAR" property="applicantorId" />
    <result column="UNIQUE_CODE" jdbcType="VARCHAR" property="uniqueCode" />
    <result column="SUGGESTION" jdbcType="VARCHAR" property="suggestion" />
    <result column="RELATE_CODE" jdbcType="VARCHAR" property="relateCode" />
    <result column="RELATE_KEY" jdbcType="VARCHAR" property="relateKey" />
    <result column="RELATE_VALUE" jdbcType="VARCHAR" property="relateValue" />
    <result column="HIERARCHY" jdbcType="VARCHAR" property="hierarchy" />
    <result column="CATALOGUE_NAME" jdbcType="VARCHAR" property="catalogueName" />
    <result column="CATALOGUE_SPELL" jdbcType="VARCHAR" property="catalogueSpell" />
    <result column="ENGLISH_NAME" jdbcType="VARCHAR" property="englishName" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.Catalogue">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="CATALOGUE_RULE" jdbcType="VARCHAR" property="catalogueRule" />
    <id column="CATALOGUE_CODE" jdbcType="VARCHAR" property="catalogueCode" />
    <result column="BASIC_TYPE" jdbcType="VARCHAR" property="basicType" />
    <result column="BASIC_CLASSIFY" jdbcType="VARCHAR" property="basicClassify" />
    <result column="SECOND_CLASSIFY" jdbcType="VARCHAR" property="secondClassify" />
    <result column="THIRD_CLASSIFY" jdbcType="VARCHAR" property="thirdClassify" />
    <result column="FOURTH_CLASSIFY" jdbcType="VARCHAR" property="fourthClassify" />
    <result column="FIFTH_CLASSIFY" jdbcType="VARCHAR" property="fifthClassify" />
    <result column="CATALOGUE_STATUS" jdbcType="VARCHAR" property="catalogueStatus" />
    <result column="CATALOGUE_REMARK" jdbcType="VARCHAR" property="catalogueRemark" />
    <result column="CATALOGUE_REMARK_SPELL" jdbcType="VARCHAR" property="catalogueRemarkSpell" />
    <result column="SORT_NUM" jdbcType="DECIMAL" property="sortNum" />
    <result column="AUDIT_TIME" jdbcType="TIMESTAMP" property="auditTime" />
    <result column="APPLICANTOR" jdbcType="VARCHAR" property="applicantor" />
    <result column="APPROVER" jdbcType="VARCHAR" property="approver" />
    <result column="APPROVAL_STATUS" jdbcType="VARCHAR" property="approvalStatus" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="APPLICANTOR_ID" jdbcType="VARCHAR" property="applicantorId" />
    <result column="UNIQUE_CODE" jdbcType="VARCHAR" property="uniqueCode" />
    <result column="SUGGESTION" jdbcType="VARCHAR" property="suggestion" />
    <result column="RELATE_CODE" jdbcType="VARCHAR" property="relateCode" />
    <result column="RELATE_KEY" jdbcType="VARCHAR" property="relateKey" />
    <result column="RELATE_VALUE" jdbcType="VARCHAR" property="relateValue" />
    <result column="HIERARCHY" jdbcType="VARCHAR" property="hierarchy" />
    <result column="CATALOGUE_NAME" jdbcType="VARCHAR" property="catalogueName" />
    <result column="CATALOGUE_SPELL" jdbcType="VARCHAR" property="catalogueSpell" />
    <result column="ENGLISH_NAME" jdbcType="VARCHAR" property="englishName" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.Catalogue">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="CATALOGUE_RULE" jdbcType="VARCHAR" property="catalogueRule" />
    <id column="CATALOGUE_CODE" jdbcType="VARCHAR" property="catalogueCode" />
    <result column="BASIC_TYPE" jdbcType="VARCHAR" property="basicType" />
    <result column="BASIC_CLASSIFY" jdbcType="VARCHAR" property="basicClassify" />
    <result column="SECOND_CLASSIFY" jdbcType="VARCHAR" property="secondClassify" />
    <result column="THIRD_CLASSIFY" jdbcType="VARCHAR" property="thirdClassify" />
    <result column="FOURTH_CLASSIFY" jdbcType="VARCHAR" property="fourthClassify" />
    <result column="FIFTH_CLASSIFY" jdbcType="VARCHAR" property="fifthClassify" />
    <result column="CATALOGUE_STATUS" jdbcType="VARCHAR" property="catalogueStatus" />
    <result column="CATALOGUE_REMARK" jdbcType="VARCHAR" property="catalogueRemark" />
    <result column="CATALOGUE_REMARK_SPELL" jdbcType="VARCHAR" property="catalogueRemarkSpell" />
    <result column="SORT_NUM" jdbcType="DECIMAL" property="sortNum" />
    <result column="AUDIT_TIME" jdbcType="TIMESTAMP" property="auditTime" />
    <result column="APPLICANTOR" jdbcType="VARCHAR" property="applicantor" />
    <result column="APPROVER" jdbcType="VARCHAR" property="approver" />
    <result column="APPROVAL_STATUS" jdbcType="VARCHAR" property="approvalStatus" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="APPLICANTOR_ID" jdbcType="VARCHAR" property="applicantorId" />
    <result column="UNIQUE_CODE" jdbcType="VARCHAR" property="uniqueCode" />
    <result column="SUGGESTION" jdbcType="VARCHAR" property="suggestion" />
    <result column="RELATE_CODE" jdbcType="VARCHAR" property="relateCode" />
    <result column="RELATE_KEY" jdbcType="VARCHAR" property="relateKey" />
    <result column="RELATE_VALUE" jdbcType="VARCHAR" property="relateValue" />
    <result column="HIERARCHY" jdbcType="VARCHAR" property="hierarchy" />
    <result column="CATALOGUE_NAME" jdbcType="VARCHAR" property="catalogueName" />
    <result column="CATALOGUE_SPELL" jdbcType="VARCHAR" property="catalogueSpell" />
    <result column="ENGLISH_NAME" jdbcType="VARCHAR" property="englishName" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.Catalogue">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="CATALOGUE_RULE" jdbcType="OTHER" property="catalogueRule" />
    <id column="CATALOGUE_CODE" jdbcType="OTHER" property="catalogueCode" />
    <result column="BASIC_TYPE" jdbcType="OTHER" property="basicType" />
    <result column="CATALOGUE_NAME" jdbcType="OTHER" property="catalogueName" />
    <result column="CATALOGUE_SPELL" jdbcType="OTHER" property="catalogueSpell" />
    <result column="BASIC_CLASSIFY" jdbcType="OTHER" property="basicClassify" />
    <result column="SECOND_CLASSIFY" jdbcType="OTHER" property="secondClassify" />
    <result column="THIRD_CLASSIFY" jdbcType="OTHER" property="thirdClassify" />
    <result column="FOURTH_CLASSIFY" jdbcType="OTHER" property="fourthClassify" />
    <result column="FIFTH_CLASSIFY" jdbcType="OTHER" property="fifthClassify" />
    <result column="CATALOGUE_STATUS" jdbcType="OTHER" property="catalogueStatus" />
    <result column="CATALOGUE_REMARK" jdbcType="OTHER" property="catalogueRemark" />
    <result column="CATALOGUE_REMARK_SPELL" jdbcType="OTHER" property="catalogueRemarkSpell" />
    <result column="SORT_NUM" jdbcType="DECIMAL" property="sortNum" />
    <result column="AUDIT_TIME" jdbcType="TIMESTAMP" property="auditTime" />
    <result column="APPLICANTOR" jdbcType="OTHER" property="applicantor" />
    <result column="APPROVER" jdbcType="OTHER" property="approver" />
    <result column="APPROVAL_STATUS" jdbcType="OTHER" property="approvalStatus" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="APPLICANTOR_ID" jdbcType="OTHER" property="applicantorId" />
    <result column="UNIQUE_CODE" jdbcType="OTHER" property="uniqueCode" />
    <result column="ENGLISH_NAME" jdbcType="OTHER" property="englishName" />
    <result column="SUGGESTION" jdbcType="OTHER" property="suggestion" />
    <result column="RELATE_CODE" jdbcType="OTHER" property="relateCode" />
    <result column="RELATE_KEY" jdbcType="OTHER" property="relateKey" />
    <result column="RELATE_VALUE" jdbcType="OTHER" property="relateValue" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.Catalogue">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="CATALOGUE_RULE" jdbcType="VARCHAR" property="catalogueRule" />
    <id column="CATALOGUE_CODE" jdbcType="VARCHAR" property="catalogueCode" />
    <result column="BASIC_TYPE" jdbcType="VARCHAR" property="basicType" />
    <result column="CATALOGUE_STATUS" jdbcType="VARCHAR" property="catalogueStatus" />
    <result column="CATALOGUE_REMARK" jdbcType="VARCHAR" property="catalogueRemark" />
    <result column="SORT_NUM" jdbcType="DECIMAL" property="sortNum" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UNIQUE_CODE" jdbcType="VARCHAR" property="uniqueCode" />
    <result column="CATALOGUE_NAME" jdbcType="VARCHAR" property="catalogueName" />
    <result column="CATALOGUE_SPELL" jdbcType="VARCHAR" property="catalogueSpell" />
    <result column="ENGLISH_NAME" jdbcType="VARCHAR" property="englishName" />
    <result column="CHINESE_TRADITIONAL" jdbcType="VARCHAR" property="chineseTraditional" />
    <result column="CATALOGUE_ALIAS" jdbcType="VARCHAR" property="catalogueAlias" />
    <result column="CLASSIFY" jdbcType="VARCHAR" property="classify" />
    <result column="CLASSIFY_CODE" jdbcType="VARCHAR" property="classifyCode" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.Catalogue">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="CATALOGUE_RULE" jdbcType="VARCHAR" property="catalogueRule" />
    <id column="CATALOGUE_CODE" jdbcType="VARCHAR" property="catalogueCode" />
    <result column="BASIC_TYPE" jdbcType="VARCHAR" property="basicType" />
    <result column="CATALOGUE_STATUS" jdbcType="VARCHAR" property="catalogueStatus" />
    <result column="CATALOGUE_REMARK" jdbcType="VARCHAR" property="catalogueRemark" />
    <result column="SORT_NUM" jdbcType="DECIMAL" property="sortNum" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UNIQUE_CODE" jdbcType="VARCHAR" property="uniqueCode" />
    <result column="CATALOGUE_NAME" jdbcType="VARCHAR" property="catalogueName" />
    <result column="CATALOGUE_SPELL" jdbcType="VARCHAR" property="catalogueSpell" />
    <result column="ENGLISH_NAME" jdbcType="VARCHAR" property="englishName" />
    <result column="CHINESE_TRADITIONAL" jdbcType="VARCHAR" property="chineseTraditional" />
    <result column="CATALOGUE_ALIAS" jdbcType="VARCHAR" property="catalogueAlias" />
    <result column="CLASSIFY" jdbcType="VARCHAR" property="classify" />
    <result column="CLASSIFY_CODE" jdbcType="VARCHAR" property="classifyCode" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.Catalogue">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="CATALOGUE_RULE" jdbcType="VARCHAR" property="catalogueRule" />
    <id column="CATALOGUE_CODE" jdbcType="VARCHAR" property="catalogueCode" />
    <result column="BASIC_TYPE" jdbcType="VARCHAR" property="basicType" />
    <result column="CATALOGUE_STATUS" jdbcType="VARCHAR" property="catalogueStatus" />
    <result column="CATALOGUE_REMARK" jdbcType="VARCHAR" property="catalogueRemark" />
    <result column="SORT_NUM" jdbcType="DECIMAL" property="sortNum" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UNIQUE_CODE" jdbcType="VARCHAR" property="uniqueCode" />
    <result column="CATALOGUE_NAME" jdbcType="VARCHAR" property="catalogueName" />
    <result column="CATALOGUE_SPELL" jdbcType="VARCHAR" property="catalogueSpell" />
    <result column="ENGLISH_NAME" jdbcType="VARCHAR" property="englishName" />
    <result column="CHINESE_TRADITIONAL" jdbcType="VARCHAR" property="chineseTraditional" />
    <result column="CATALOGUE_ALIAS" jdbcType="VARCHAR" property="catalogueAlias" />
    <result column="CLASSIFY" jdbcType="VARCHAR" property="classify" />
    <result column="CLASSIFY_CODE" jdbcType="VARCHAR" property="classifyCode" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.Catalogue">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="CATALOGUE_RULE" jdbcType="VARCHAR" property="catalogueRule" />
    <id column="CATALOGUE_CODE" jdbcType="VARCHAR" property="catalogueCode" />
    <result column="BASIC_TYPE" jdbcType="VARCHAR" property="basicType" />
    <result column="CATALOGUE_STATUS" jdbcType="VARCHAR" property="catalogueStatus" />
    <result column="CATALOGUE_REMARK" jdbcType="VARCHAR" property="catalogueRemark" />
    <result column="SORT_NUM" jdbcType="DECIMAL" property="sortNum" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UNIQUE_CODE" jdbcType="VARCHAR" property="uniqueCode" />
    <result column="CATALOGUE_NAME" jdbcType="VARCHAR" property="catalogueName" />
    <result column="CATALOGUE_SPELL" jdbcType="VARCHAR" property="catalogueSpell" />
    <result column="ENGLISH_NAME" jdbcType="VARCHAR" property="englishName" />
    <result column="CHINESE_TRADITIONAL" jdbcType="VARCHAR" property="chineseTraditional" />
    <result column="CATALOGUE_ALIAS" jdbcType="VARCHAR" property="catalogueAlias" />
    <result column="CLASSIFY" jdbcType="VARCHAR" property="classify" />
    <result column="CLASSIFY_CODE" jdbcType="VARCHAR" property="classifyCode" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.Catalogue">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="CATALOGUE_RULE" jdbcType="VARCHAR" property="catalogueRule" />
    <id column="CATALOGUE_CODE" jdbcType="VARCHAR" property="catalogueCode" />
    <result column="BASIC_TYPE" jdbcType="VARCHAR" property="basicType" />
    <result column="CATALOGUE_STATUS" jdbcType="VARCHAR" property="catalogueStatus" />
    <result column="CATALOGUE_REMARK" jdbcType="VARCHAR" property="catalogueRemark" />
    <result column="SORT_NUM" jdbcType="DECIMAL" property="sortNum" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UNIQUE_CODE" jdbcType="VARCHAR" property="uniqueCode" />
    <result column="CATALOGUE_NAME" jdbcType="VARCHAR" property="catalogueName" />
    <result column="CATALOGUE_SPELL" jdbcType="VARCHAR" property="catalogueSpell" />
    <result column="ENGLISH_NAME" jdbcType="VARCHAR" property="englishName" />
    <result column="CHINESE_TRADITIONAL" jdbcType="VARCHAR" property="chineseTraditional" />
    <result column="CATALOGUE_ALIAS" jdbcType="VARCHAR" property="catalogueAlias" />
    <result column="CLASSIFY" jdbcType="VARCHAR" property="classify" />
    <result column="CLASSIFY_CODE" jdbcType="VARCHAR" property="classifyCode" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.Catalogue">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="CATALOGUE_RULE" jdbcType="VARCHAR" property="catalogueRule" />
    <id column="CATALOGUE_CODE" jdbcType="VARCHAR" property="catalogueCode" />
    <result column="BASIC_TYPE" jdbcType="VARCHAR" property="basicType" />
    <result column="BASIC_CLASSIFY" jdbcType="VARCHAR" property="basicClassify" />
    <result column="SECOND_CLASSIFY" jdbcType="VARCHAR" property="secondClassify" />
    <result column="THIRD_CLASSIFY" jdbcType="VARCHAR" property="thirdClassify" />
    <result column="FOURTH_CLASSIFY" jdbcType="VARCHAR" property="fourthClassify" />
    <result column="FIFTH_CLASSIFY" jdbcType="VARCHAR" property="fifthClassify" />
    <result column="CATALOGUE_STATUS" jdbcType="VARCHAR" property="catalogueStatus" />
    <result column="CATALOGUE_REMARK" jdbcType="VARCHAR" property="catalogueRemark" />
    <result column="CATALOGUE_REMARK_SPELL" jdbcType="VARCHAR" property="catalogueRemarkSpell" />
    <result column="SORT_NUM" jdbcType="DECIMAL" property="sortNum" />
    <result column="AUDIT_TIME" jdbcType="TIMESTAMP" property="auditTime" />
    <result column="APPLICANTOR" jdbcType="VARCHAR" property="applicantor" />
    <result column="APPROVER" jdbcType="VARCHAR" property="approver" />
    <result column="APPROVAL_STATUS" jdbcType="VARCHAR" property="approvalStatus" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="APPLICANTOR_ID" jdbcType="VARCHAR" property="applicantorId" />
    <result column="UNIQUE_CODE" jdbcType="VARCHAR" property="uniqueCode" />
    <result column="SUGGESTION" jdbcType="VARCHAR" property="suggestion" />
    <result column="RELATE_CODE" jdbcType="VARCHAR" property="relateCode" />
    <result column="RELATE_KEY" jdbcType="VARCHAR" property="relateKey" />
    <result column="RELATE_VALUE" jdbcType="VARCHAR" property="relateValue" />
    <result column="HIERARCHY" jdbcType="VARCHAR" property="hierarchy" />
    <result column="CATALOGUE_NAME" jdbcType="VARCHAR" property="catalogueName" />
    <result column="CATALOGUE_SPELL" jdbcType="VARCHAR" property="catalogueSpell" />
    <result column="ENGLISH_NAME" jdbcType="VARCHAR" property="englishName" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.Catalogue">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="CATALOGUE_RULE" jdbcType="VARCHAR" property="catalogueRule" />
    <id column="CATALOGUE_CODE" jdbcType="VARCHAR" property="catalogueCode" />
    <result column="BASIC_TYPE" jdbcType="VARCHAR" property="basicType" />
    <result column="BASIC_CLASSIFY" jdbcType="VARCHAR" property="basicClassify" />
    <result column="SECOND_CLASSIFY" jdbcType="VARCHAR" property="secondClassify" />
    <result column="THIRD_CLASSIFY" jdbcType="VARCHAR" property="thirdClassify" />
    <result column="FOURTH_CLASSIFY" jdbcType="VARCHAR" property="fourthClassify" />
    <result column="FIFTH_CLASSIFY" jdbcType="VARCHAR" property="fifthClassify" />
    <result column="CATALOGUE_STATUS" jdbcType="VARCHAR" property="catalogueStatus" />
    <result column="CATALOGUE_REMARK" jdbcType="VARCHAR" property="catalogueRemark" />
    <result column="CATALOGUE_REMARK_SPELL" jdbcType="VARCHAR" property="catalogueRemarkSpell" />
    <result column="SORT_NUM" jdbcType="DECIMAL" property="sortNum" />
    <result column="AUDIT_TIME" jdbcType="TIMESTAMP" property="auditTime" />
    <result column="APPLICANTOR" jdbcType="VARCHAR" property="applicantor" />
    <result column="APPROVER" jdbcType="VARCHAR" property="approver" />
    <result column="APPROVAL_STATUS" jdbcType="VARCHAR" property="approvalStatus" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="APPLICANTOR_ID" jdbcType="VARCHAR" property="applicantorId" />
    <result column="UNIQUE_CODE" jdbcType="VARCHAR" property="uniqueCode" />
    <result column="SUGGESTION" jdbcType="VARCHAR" property="suggestion" />
    <result column="RELATE_CODE" jdbcType="VARCHAR" property="relateCode" />
    <result column="RELATE_KEY" jdbcType="VARCHAR" property="relateKey" />
    <result column="RELATE_VALUE" jdbcType="VARCHAR" property="relateValue" />
    <result column="HIERARCHY" jdbcType="VARCHAR" property="hierarchy" />
    <result column="CATALOGUE_NAME" jdbcType="VARCHAR" property="catalogueName" />
    <result column="CATALOGUE_SPELL" jdbcType="VARCHAR" property="catalogueSpell" />
    <result column="ENGLISH_NAME" jdbcType="VARCHAR" property="englishName" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.Catalogue">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="CATALOGUE_RULE" jdbcType="VARCHAR" property="catalogueRule" />
    <id column="CATALOGUE_CODE" jdbcType="VARCHAR" property="catalogueCode" />
    <result column="BASIC_TYPE" jdbcType="VARCHAR" property="basicType" />
    <result column="BASIC_CLASSIFY" jdbcType="VARCHAR" property="basicClassify" />
    <result column="SECOND_CLASSIFY" jdbcType="VARCHAR" property="secondClassify" />
    <result column="THIRD_CLASSIFY" jdbcType="VARCHAR" property="thirdClassify" />
    <result column="FOURTH_CLASSIFY" jdbcType="VARCHAR" property="fourthClassify" />
    <result column="FIFTH_CLASSIFY" jdbcType="VARCHAR" property="fifthClassify" />
    <result column="CATALOGUE_STATUS" jdbcType="VARCHAR" property="catalogueStatus" />
    <result column="CATALOGUE_REMARK" jdbcType="VARCHAR" property="catalogueRemark" />
    <result column="CATALOGUE_REMARK_SPELL" jdbcType="VARCHAR" property="catalogueRemarkSpell" />
    <result column="SORT_NUM" jdbcType="DECIMAL" property="sortNum" />
    <result column="AUDIT_TIME" jdbcType="TIMESTAMP" property="auditTime" />
    <result column="APPLICANTOR" jdbcType="VARCHAR" property="applicantor" />
    <result column="APPROVER" jdbcType="VARCHAR" property="approver" />
    <result column="APPROVAL_STATUS" jdbcType="VARCHAR" property="approvalStatus" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="APPLICANTOR_ID" jdbcType="VARCHAR" property="applicantorId" />
    <result column="UNIQUE_CODE" jdbcType="VARCHAR" property="uniqueCode" />
    <result column="SUGGESTION" jdbcType="VARCHAR" property="suggestion" />
    <result column="RELATE_CODE" jdbcType="VARCHAR" property="relateCode" />
    <result column="RELATE_KEY" jdbcType="VARCHAR" property="relateKey" />
    <result column="RELATE_VALUE" jdbcType="VARCHAR" property="relateValue" />
    <result column="HIERARCHY" jdbcType="VARCHAR" property="hierarchy" />
    <result column="CATALOGUE_NAME" jdbcType="VARCHAR" property="catalogueName" />
    <result column="CATALOGUE_SPELL" jdbcType="VARCHAR" property="catalogueSpell" />
    <result column="ENGLISH_NAME" jdbcType="VARCHAR" property="englishName" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.Catalogue">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="CATALOGUE_RULE" jdbcType="VARCHAR" property="catalogueRule" />
    <id column="CATALOGUE_CODE" jdbcType="VARCHAR" property="catalogueCode" />
    <result column="BASIC_TYPE" jdbcType="VARCHAR" property="basicType" />
    <result column="BASIC_CLASSIFY" jdbcType="VARCHAR" property="basicClassify" />
    <result column="SECOND_CLASSIFY" jdbcType="VARCHAR" property="secondClassify" />
    <result column="THIRD_CLASSIFY" jdbcType="VARCHAR" property="thirdClassify" />
    <result column="FOURTH_CLASSIFY" jdbcType="VARCHAR" property="fourthClassify" />
    <result column="FIFTH_CLASSIFY" jdbcType="VARCHAR" property="fifthClassify" />
    <result column="CATALOGUE_STATUS" jdbcType="VARCHAR" property="catalogueStatus" />
    <result column="CATALOGUE_REMARK" jdbcType="VARCHAR" property="catalogueRemark" />
    <result column="CATALOGUE_REMARK_SPELL" jdbcType="VARCHAR" property="catalogueRemarkSpell" />
    <result column="SORT_NUM" jdbcType="DECIMAL" property="sortNum" />
    <result column="AUDIT_TIME" jdbcType="TIMESTAMP" property="auditTime" />
    <result column="APPLICANTOR" jdbcType="VARCHAR" property="applicantor" />
    <result column="APPROVER" jdbcType="VARCHAR" property="approver" />
    <result column="APPROVAL_STATUS" jdbcType="VARCHAR" property="approvalStatus" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="APPLICANTOR_ID" jdbcType="VARCHAR" property="applicantorId" />
    <result column="UNIQUE_CODE" jdbcType="VARCHAR" property="uniqueCode" />
    <result column="SUGGESTION" jdbcType="VARCHAR" property="suggestion" />
    <result column="RELATE_CODE" jdbcType="VARCHAR" property="relateCode" />
    <result column="RELATE_KEY" jdbcType="VARCHAR" property="relateKey" />
    <result column="RELATE_VALUE" jdbcType="VARCHAR" property="relateValue" />
    <result column="HIERARCHY" jdbcType="VARCHAR" property="hierarchy" />
    <result column="CATALOGUE_NAME" jdbcType="VARCHAR" property="catalogueName" />
    <result column="CATALOGUE_SPELL" jdbcType="VARCHAR" property="catalogueSpell" />
    <result column="ENGLISH_NAME" jdbcType="VARCHAR" property="englishName" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.Catalogue">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="CATALOGUE_RULE" jdbcType="VARCHAR" property="catalogueRule" />
    <id column="CATALOGUE_CODE" jdbcType="VARCHAR" property="catalogueCode" />
    <result column="BASIC_TYPE" jdbcType="VARCHAR" property="basicType" />
    <result column="CATALOGUE_STATUS" jdbcType="VARCHAR" property="catalogueStatus" />
    <result column="CATALOGUE_REMARK" jdbcType="VARCHAR" property="catalogueRemark" />
    <result column="SORT_NUM" jdbcType="DECIMAL" property="sortNum" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UNIQUE_CODE" jdbcType="VARCHAR" property="uniqueCode" />
    <result column="CATALOGUE_NAME" jdbcType="VARCHAR" property="catalogueName" />
    <result column="CATALOGUE_SPELL" jdbcType="VARCHAR" property="catalogueSpell" />
    <result column="ENGLISH_NAME" jdbcType="VARCHAR" property="englishName" />
    <result column="CHINESE_TRADITIONAL" jdbcType="VARCHAR" property="chineseTraditional" />
    <result column="CATALOGUE_ALIAS" jdbcType="VARCHAR" property="catalogueAlias" />
    <result column="CLASSIFY" jdbcType="VARCHAR" property="classify" />
    <result column="CLASSIFY_CODE" jdbcType="VARCHAR" property="classifyCode" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.Catalogue">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="CATALOGUE_RULE" jdbcType="VARCHAR" property="catalogueRule" />
    <id column="CATALOGUE_CODE" jdbcType="VARCHAR" property="catalogueCode" />
    <result column="BASIC_TYPE" jdbcType="VARCHAR" property="basicType" />
    <result column="BASIC_CLASSIFY" jdbcType="VARCHAR" property="basicClassify" />
    <result column="SECOND_CLASSIFY" jdbcType="VARCHAR" property="secondClassify" />
    <result column="THIRD_CLASSIFY" jdbcType="VARCHAR" property="thirdClassify" />
    <result column="FOURTH_CLASSIFY" jdbcType="VARCHAR" property="fourthClassify" />
    <result column="FIFTH_CLASSIFY" jdbcType="VARCHAR" property="fifthClassify" />
    <result column="CATALOGUE_STATUS" jdbcType="VARCHAR" property="catalogueStatus" />
    <result column="CATALOGUE_REMARK" jdbcType="VARCHAR" property="catalogueRemark" />
    <result column="CATALOGUE_REMARK_SPELL" jdbcType="VARCHAR" property="catalogueRemarkSpell" />
    <result column="SORT_NUM" jdbcType="DECIMAL" property="sortNum" />
    <result column="AUDIT_TIME" jdbcType="TIMESTAMP" property="auditTime" />
    <result column="APPLICANTOR" jdbcType="VARCHAR" property="applicantor" />
    <result column="APPROVER" jdbcType="VARCHAR" property="approver" />
    <result column="APPROVAL_STATUS" jdbcType="VARCHAR" property="approvalStatus" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="APPLICANTOR_ID" jdbcType="VARCHAR" property="applicantorId" />
    <result column="UNIQUE_CODE" jdbcType="VARCHAR" property="uniqueCode" />
    <result column="SUGGESTION" jdbcType="VARCHAR" property="suggestion" />
    <result column="RELATE_CODE" jdbcType="VARCHAR" property="relateCode" />
    <result column="RELATE_KEY" jdbcType="VARCHAR" property="relateKey" />
    <result column="RELATE_VALUE" jdbcType="VARCHAR" property="relateValue" />
    <result column="HIERARCHY" jdbcType="VARCHAR" property="hierarchy" />
    <result column="CATALOGUE_NAME" jdbcType="VARCHAR" property="catalogueName" />
    <result column="CATALOGUE_SPELL" jdbcType="VARCHAR" property="catalogueSpell" />
    <result column="CATALOGUE_ZH_CHT" jdbcType="VARCHAR" property="catalogueZhCht" />
    <result column="ENGLISH_NAME" jdbcType="CLOB" property="englishName" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.Catalogue">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="CATALOGUE_RULE" jdbcType="VARCHAR" property="catalogueRule" />
    <id column="CATALOGUE_CODE" jdbcType="VARCHAR" property="catalogueCode" />
    <result column="BASIC_TYPE" jdbcType="VARCHAR" property="basicType" />
    <result column="CATALOGUE_STATUS" jdbcType="VARCHAR" property="catalogueStatus" />
    <result column="CATALOGUE_REMARK" jdbcType="VARCHAR" property="catalogueRemark" />
    <result column="SORT_NUM" jdbcType="DECIMAL" property="sortNum" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UNIQUE_CODE" jdbcType="VARCHAR" property="uniqueCode" />
    <result column="CATALOGUE_NAME" jdbcType="VARCHAR" property="catalogueName" />
    <result column="CATALOGUE_SPELL" jdbcType="VARCHAR" property="catalogueSpell" />
    <result column="ENGLISH_NAME" jdbcType="VARCHAR" property="englishName" />
    <result column="CHINESE_TRADITIONAL" jdbcType="VARCHAR" property="chineseTraditional" />
    <result column="CATALOGUE_ALIAS" jdbcType="VARCHAR" property="catalogueAlias" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.Catalogue">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="CATALOGUE_RULE" jdbcType="VARCHAR" property="catalogueRule" />
    <id column="CATALOGUE_CODE" jdbcType="VARCHAR" property="catalogueCode" />
    <result column="BASIC_TYPE" jdbcType="VARCHAR" property="basicType" />
    <result column="CATALOGUE_STATUS" jdbcType="VARCHAR" property="catalogueStatus" />
    <result column="CATALOGUE_REMARK" jdbcType="VARCHAR" property="catalogueRemark" />
    <result column="SORT_NUM" jdbcType="DECIMAL" property="sortNum" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UNIQUE_CODE" jdbcType="VARCHAR" property="uniqueCode" />
    <result column="CATALOGUE_NAME" jdbcType="VARCHAR" property="catalogueName" />
    <result column="CATALOGUE_SPELL" jdbcType="VARCHAR" property="catalogueSpell" />
    <result column="ENGLISH_NAME" jdbcType="VARCHAR" property="englishName" />
    <result column="CHINESE_TRADITIONAL" jdbcType="VARCHAR" property="chineseTraditional" />
    <result column="CATALOGUE_ALIAS" jdbcType="VARCHAR" property="catalogueAlias" />
    <result column="CLASSIFY" jdbcType="VARCHAR" property="classify" />
    <result column="CLASSIFY_CODE" jdbcType="VARCHAR" property="classifyCode" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
</mapper>