<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.garfield.combat.dao.CatalogueRelationMapper">
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.CatalogueRelation">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="UNIQUE_CODE" jdbcType="VARCHAR" property="uniqueCode" />
    <result column="RELATE_KEY" jdbcType="VARCHAR" property="relateKey" />
    <result column="RELATE_VALUE" jdbcType="VARCHAR" property="relateValue" />
    <result column="CATALOGUE_NAME" jdbcType="VARCHAR" property="catalogueName" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.CatalogueRelation">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="UNIQUE_CODE" jdbcType="VARCHAR" property="uniqueCode" />
    <result column="RELATE_KEY" jdbcType="VARCHAR" property="relateKey" />
    <result column="RELATE_VALUE" jdbcType="VARCHAR" property="relateValue" />
    <result column="CATALOGUE_NAME" jdbcType="VARCHAR" property="catalogueName" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.CatalogueRelation">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="UNIQUE_CODE" jdbcType="VARCHAR" property="uniqueCode" />
    <result column="RELATE_KEY" jdbcType="VARCHAR" property="relateKey" />
    <result column="RELATE_VALUE" jdbcType="VARCHAR" property="relateValue" />
    <result column="CATALOGUE_NAME" jdbcType="VARCHAR" property="catalogueName" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.CatalogueRelation">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="UNIQUE_CODE" jdbcType="VARCHAR" property="uniqueCode" />
    <result column="RELATE_KEY" jdbcType="VARCHAR" property="relateKey" />
    <result column="RELATE_VALUE" jdbcType="VARCHAR" property="relateValue" />
    <result column="CATALOGUE_NAME" jdbcType="VARCHAR" property="catalogueName" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.CatalogueRelation">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="UNIQUE_CODE" jdbcType="VARCHAR" property="uniqueCode" />
    <result column="RELATE_KEY" jdbcType="VARCHAR" property="relateKey" />
    <result column="RELATE_VALUE" jdbcType="VARCHAR" property="relateValue" />
    <result column="CATALOGUE_NAME" jdbcType="VARCHAR" property="catalogueName" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.CatalogueRelation">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="UNIQUE_CODE" jdbcType="VARCHAR" property="uniqueCode" />
    <result column="RELATE_KEY" jdbcType="VARCHAR" property="relateKey" />
    <result column="RELATE_VALUE" jdbcType="VARCHAR" property="relateValue" />
    <result column="CATALOGUE_NAME" jdbcType="VARCHAR" property="catalogueName" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.CatalogueRelation">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="UNIQUE_CODE" jdbcType="VARCHAR" property="uniqueCode" />
    <result column="RELATE_KEY" jdbcType="VARCHAR" property="relateKey" />
    <result column="RELATE_VALUE" jdbcType="VARCHAR" property="relateValue" />
    <result column="CATALOGUE_NAME" jdbcType="VARCHAR" property="catalogueName" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.CatalogueRelation">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="UNIQUE_CODE" jdbcType="VARCHAR" property="uniqueCode" />
    <result column="RELATE_KEY" jdbcType="VARCHAR" property="relateKey" />
    <result column="RELATE_VALUE" jdbcType="VARCHAR" property="relateValue" />
    <result column="CATALOGUE_NAME" jdbcType="VARCHAR" property="catalogueName" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.CatalogueRelation">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="UNIQUE_CODE" jdbcType="VARCHAR" property="uniqueCode" />
    <result column="RELATE_KEY" jdbcType="VARCHAR" property="relateKey" />
    <result column="RELATE_VALUE" jdbcType="VARCHAR" property="relateValue" />
    <result column="CATALOGUE_NAME" jdbcType="VARCHAR" property="catalogueName" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.CatalogueRelation">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="CATALOGUE_CODE" jdbcType="VARCHAR" property="catalogueCode" />
    <result column="CATALOGUE_NAME" jdbcType="VARCHAR" property="catalogueName" />
    <result column="SPELL" jdbcType="VARCHAR" property="spell" />
    <result column="TYPE" jdbcType="DECIMAL" property="type" />
    <result column="LABEL" jdbcType="VARCHAR" property="label" />
    <result column="RELATION_RULE" jdbcType="VARCHAR" property="relationRule" />
    <result column="RELATION_CODE" jdbcType="VARCHAR" property="relationCode" />
    <result column="RELATION_CATALOGUE_CODE" jdbcType="VARCHAR" property="relationCatalogueCode" />
    <result column="RELATION_CATALOGUE_NAME" jdbcType="VARCHAR" property="relationCatalogueName" />
    <result column="RELATION_SPELL" jdbcType="VARCHAR" property="relationSpell" />
    <result column="SUPER_ID" jdbcType="DECIMAL" property="superId" />
    <result column="HIERARCHY" jdbcType="DECIMAL" property="hierarchy" />
    <result column="INDEX_NUMBER" jdbcType="DECIMAL" property="indexNumber" />
    <result column="CAN_DELETE" jdbcType="DECIMAL" property="canDelete" />
    <result column="SUB_TYPE" jdbcType="DECIMAL" property="subType" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.CatalogueRelation">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="UNIQUE_CODE" jdbcType="VARCHAR" property="uniqueCode" />
    <result column="RELATE_KEY" jdbcType="VARCHAR" property="relateKey" />
    <result column="RELATE_VALUE" jdbcType="VARCHAR" property="relateValue" />
    <result column="CATALOGUE_NAME" jdbcType="VARCHAR" property="catalogueName" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.CatalogueRelation">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="UNIQUE_CODE" jdbcType="VARCHAR" property="uniqueCode" />
    <result column="RELATE_KEY" jdbcType="VARCHAR" property="relateKey" />
    <result column="RELATE_VALUE" jdbcType="VARCHAR" property="relateValue" />
    <result column="CATALOGUE_NAME" jdbcType="VARCHAR" property="catalogueName" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.CatalogueRelation">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="UNIQUE_CODE" jdbcType="VARCHAR" property="uniqueCode" />
    <result column="RELATE_KEY" jdbcType="VARCHAR" property="relateKey" />
    <result column="RELATE_VALUE" jdbcType="VARCHAR" property="relateValue" />
    <result column="CATALOGUE_NAME" jdbcType="VARCHAR" property="catalogueName" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.CatalogueRelation">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="UNIQUE_CODE" jdbcType="VARCHAR" property="uniqueCode" />
    <result column="RELATE_KEY" jdbcType="VARCHAR" property="relateKey" />
    <result column="RELATE_VALUE" jdbcType="VARCHAR" property="relateValue" />
    <result column="CATALOGUE_NAME" jdbcType="VARCHAR" property="catalogueName" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.CatalogueRelation">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="UNIQUE_CODE" jdbcType="OTHER" property="uniqueCode" />
    <result column="RELATE_KEY" jdbcType="OTHER" property="relateKey" />
    <result column="RELATE_VALUE" jdbcType="OTHER" property="relateValue" />
    <result column="CATALOGUE_NAME" jdbcType="OTHER" property="catalogueName" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.CatalogueRelation">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="UNIQUE_CODE" jdbcType="VARCHAR" property="uniqueCode" />
    <result column="RELATE_KEY" jdbcType="VARCHAR" property="relateKey" />
    <result column="RELATE_VALUE" jdbcType="VARCHAR" property="relateValue" />
    <result column="CATALOGUE_NAME" jdbcType="VARCHAR" property="catalogueName" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.CatalogueRelation">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="UNIQUE_CODE" jdbcType="VARCHAR" property="uniqueCode" />
    <result column="RELATE_KEY" jdbcType="VARCHAR" property="relateKey" />
    <result column="RELATE_VALUE" jdbcType="VARCHAR" property="relateValue" />
    <result column="CATALOGUE_NAME" jdbcType="VARCHAR" property="catalogueName" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.CatalogueRelation">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="UNIQUE_CODE" jdbcType="VARCHAR" property="uniqueCode" />
    <result column="RELATE_KEY" jdbcType="VARCHAR" property="relateKey" />
    <result column="RELATE_VALUE" jdbcType="VARCHAR" property="relateValue" />
    <result column="CATALOGUE_NAME" jdbcType="VARCHAR" property="catalogueName" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.CatalogueRelation">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="UNIQUE_CODE" jdbcType="VARCHAR" property="uniqueCode" />
    <result column="RELATE_KEY" jdbcType="VARCHAR" property="relateKey" />
    <result column="RELATE_VALUE" jdbcType="VARCHAR" property="relateValue" />
    <result column="CATALOGUE_NAME" jdbcType="VARCHAR" property="catalogueName" />
  </resultMap>
</mapper>