<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.garfield.combat.dao.CustomizeQuestionMapper">
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.CustomizeQuestion">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="QUESTION_ID" jdbcType="DECIMAL" property="questionId" />
    <result column="CATALOGUE_RULE" jdbcType="VARCHAR" property="catalogueRule" />
    <result column="CATALOGUE_CODE" jdbcType="VARCHAR" property="catalogueCode" />
    <result column="ALIAS_TYPE" jdbcType="VARCHAR" property="aliasType" />
    <result column="ALIAS_NAME" jdbcType="VARCHAR" property="aliasName" />
    <result column="SEX_TYPE" jdbcType="VARCHAR" property="sexType" />
    <result column="QUESTION_TYPE" jdbcType="VARCHAR" property="questionType" />
    <result column="PAPER_TEMPLATE_ID" jdbcType="VARCHAR" property="paperTemplateId" />
    <result column="HELP_CONTENT" jdbcType="VARCHAR" property="helpContent" />
    <result column="QUESTION_REMARK" jdbcType="VARCHAR" property="questionRemark" />
    <result column="TEMPLATE_TYPE" jdbcType="VARCHAR" property="templateType" />
    <result column="IS_DEL" jdbcType="DECIMAL" property="isDel" />
    <result column="REFER_QUESTION_ID" jdbcType="DECIMAL" property="referQuestionId" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="EDIT_LOGIC_TYPE" jdbcType="DECIMAL" property="editLogicType" />
    <result column="MAIN_TYPE" jdbcType="DECIMAL" property="mainType" />
    <result column="AGE_LIMIT" jdbcType="VARCHAR" property="ageLimit" />
    <result column="FILE_PATH" jdbcType="VARCHAR" property="filePath" />
    <result column="CATALOGUE_SPELL" jdbcType="VARCHAR" property="catalogueSpell" />
    <result column="IS_SWITCH" jdbcType="VARCHAR" property="isSwitch" />
    <result column="CHECK_TYPE" jdbcType="VARCHAR" property="checkType" />
    <result column="CHILD_TEMPLATE_ID" jdbcType="VARCHAR" property="childTemplateId" />
    <result column="HELP_DISPLAY_TYPE" jdbcType="DECIMAL" property="helpDisplayType" />
    <result column="GROUP_TYPE" jdbcType="DECIMAL" property="groupType" />
    <result column="CONSULTATION_TYPE" jdbcType="DECIMAL" property="consultationType" />
    <result column="IMPORT_SHARE_TYPE" jdbcType="DECIMAL" property="importShareType" />
    <result column="IS_SHARE" jdbcType="DECIMAL" property="isShare" />
    <result column="WHOLE_WIDTH" jdbcType="DECIMAL" property="wholeWidth" />
    <result column="COMMON_TYPE" jdbcType="VARCHAR" property="commonType" />
    <result column="RIGHT_TYPE" jdbcType="VARCHAR" property="rightType" />
    <result column="ALIAS_SORT_NUMBER" jdbcType="DECIMAL" property="aliasSortNumber" />
    <result column="SWITCH_QUESTION" jdbcType="VARCHAR" property="switchQuestion" />
    <result column="VALUE_URL" jdbcType="VARCHAR" property="valueUrl" />
    <result column="VALUE_METHOD" jdbcType="VARCHAR" property="valueMethod" />
    <result column="EXTEND_REMARK" jdbcType="VARCHAR" property="extendRemark" />
    <result column="SORT_TYPE" jdbcType="VARCHAR" property="sortType" />
    <result column="SORT_FIELD" jdbcType="VARCHAR" property="sortField" />
    <result column="SPECIAL_FLAG" jdbcType="VARCHAR" property="specialFlag" />
    <result column="LINK_FLAG" jdbcType="VARCHAR" property="linkFlag" />
    <result column="AGE_SWITCH" jdbcType="VARCHAR" property="ageSwitch" />
    <result column="OPTION_DOMAIN" jdbcType="VARCHAR" property="optionDomain" />
    <result column="PAPER_TEMPLATE_TYPE" jdbcType="VARCHAR" property="paperTemplateType" />
    <result column="LINE_FEED" jdbcType="DECIMAL" property="lineFeed" />
    <result column="NAV_LOCATION" jdbcType="DECIMAL" property="navLocation" />
    <result column="MUD" jdbcType="DECIMAL" property="mud" />
    <result column="REAL_TIME" jdbcType="DECIMAL" property="realTime" />
    <result column="SCORE_TYPE" jdbcType="VARCHAR" property="scoreType" />
    <result column="START_TIME" jdbcType="VARCHAR" property="startTime" />
    <result column="TIME_INTERVAL" jdbcType="VARCHAR" property="timeInterval" />
    <result column="CLASSES" jdbcType="VARCHAR" property="classes" />
    <result column="IMAGE_REMARK" jdbcType="VARCHAR" property="imageRemark" />
    <result column="MEASURE_TYPE" jdbcType="DECIMAL" property="measureType" />
    <result column="FIXED_NAME" jdbcType="VARCHAR" property="fixedName" />
    <result column="OTHER_PROP" jdbcType="VARCHAR" property="otherProp" />
    <result column="BACKGROUND" jdbcType="VARCHAR" property="background" />
    <result column="REMARKS_CONTENT" jdbcType="CLOB" property="remarksContent" />
  </resultMap>
</mapper>