<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.garfield.combat.dao.CustomizeConclusionMapper">
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.CustomizeConclusion">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="LOGIC_ID" jdbcType="DECIMAL" property="logicId" />
    <result column="RELATE_QUESTION_ID" jdbcType="DECIMAL" property="relateQuestionId" />
    <result column="RELATE_UNIQUE_ID" jdbcType="DECIMAL" property="relateUniqueId" />
    <result column="RELATE_HIERARCHY_CODE" jdbcType="VARCHAR" property="relateHierarchyCode" />
    <result column="RELATE_OPTION_ID" jdbcType="DECIMAL" property="relateOptionId" />
  </resultMap>
</mapper>