<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.garfield.combat.dao.CustomizeOptionMapper">
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.CustomizeOption">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="OPTION_ID" jdbcType="DECIMAL" property="optionId" />
    <result column="CATALOGUE_RULE" jdbcType="VARCHAR" property="catalogueRule" />
    <result column="CATALOGUE_CODE" jdbcType="VARCHAR" property="catalogueCode" />
    <result column="QUESTION_ID" jdbcType="DECIMAL" property="questionId" />
    <result column="DEFAULT_TYPE" jdbcType="VARCHAR" property="defaultType" />
    <result column="ALIAS_TYPE" jdbcType="VARCHAR" property="aliasType" />
    <result column="ALIAS_NAME" jdbcType="VARCHAR" property="aliasName" />
    <result column="OPTION_TYPE" jdbcType="VARCHAR" property="optionType" />
    <result column="SWITCH_TYPE" jdbcType="VARCHAR" property="switchType" />
    <result column="HELP_CONTENT" jdbcType="VARCHAR" property="helpContent" />
    <result column="SORT_NUM" jdbcType="DECIMAL" property="sortNum" />
    <result column="OPTION_REMARK" jdbcType="VARCHAR" property="optionRemark" />
    <result column="CATALOGUE_SPELL" jdbcType="VARCHAR" property="catalogueSpell" />
    <result column="TIME_FORMAT" jdbcType="VARCHAR" property="timeFormat" />
    <result column="QUANTITY" jdbcType="VARCHAR" property="quantity" />
    <result column="ADD_TYPE" jdbcType="VARCHAR" property="addType" />
    <result column="DEFAULT_TIME_TYPE" jdbcType="DECIMAL" property="defaultTimeType" />
    <result column="DEFAULT_VALUE" jdbcType="VARCHAR" property="defaultValue" />
    <result column="PLACE_HOLDER" jdbcType="VARCHAR" property="placeHolder" />
    <result column="IMPLANT_STYLE" jdbcType="VARCHAR" property="implantStyle" />
    <result column="TIME_FLAG" jdbcType="VARCHAR" property="timeFlag" />
    <result column="AGE_LIMIT" jdbcType="VARCHAR" property="ageLimit" />
    <result column="LIMIT_TYPE" jdbcType="VARCHAR" property="limitType" />
    <result column="TIME_LIMIT" jdbcType="VARCHAR" property="timeLimit" />
    <result column="LINE_FEED" jdbcType="DECIMAL" property="lineFeed" />
    <result column="FREE_TEXT" jdbcType="CLOB" property="freeText" />
  </resultMap>
</mapper>