<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.garfield.combat.dao.DiaResultMapper">
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.DiaResult">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="ORGAN_CODE" jdbcType="VARCHAR" property="organCode" />
    <result column="CATALOGUE_CODE" jdbcType="VARCHAR" property="catalogueCode" />
    <result column="CATALOGUE_RULE" jdbcType="VARCHAR" property="catalogueRule" />
    <result column="CATALOGUE_NAME" jdbcType="VARCHAR" property="catalogueName" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.DiaResult">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="ORGAN_CODE" jdbcType="VARCHAR" property="organCode" />
    <result column="CATALOGUE_CODE" jdbcType="VARCHAR" property="catalogueCode" />
    <result column="CATALOGUE_RULE" jdbcType="VARCHAR" property="catalogueRule" />
    <result column="CATALOGUE_NAME" jdbcType="VARCHAR" property="catalogueName" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.DiaResult">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="ORGAN_CODE" jdbcType="VARCHAR" property="organCode" />
    <result column="CATALOGUE_CODE" jdbcType="VARCHAR" property="catalogueCode" />
    <result column="CATALOGUE_RULE" jdbcType="VARCHAR" property="catalogueRule" />
    <result column="CATALOGUE_NAME" jdbcType="VARCHAR" property="catalogueName" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.DiaResult">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="ORGAN_CODE" jdbcType="VARCHAR" property="organCode" />
    <result column="CATALOGUE_CODE" jdbcType="VARCHAR" property="catalogueCode" />
    <result column="CATALOGUE_RULE" jdbcType="VARCHAR" property="catalogueRule" />
    <result column="CATALOGUE_NAME" jdbcType="VARCHAR" property="catalogueName" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.DiaResult">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="ORGAN_CODE" jdbcType="VARCHAR" property="organCode" />
    <result column="CATALOGUE_CODE" jdbcType="VARCHAR" property="catalogueCode" />
    <result column="CATALOGUE_RULE" jdbcType="VARCHAR" property="catalogueRule" />
    <result column="CATALOGUE_NAME" jdbcType="VARCHAR" property="catalogueName" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.DiaResult">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="ORGAN_CODE" jdbcType="OTHER" property="organCode" />
    <result column="CATALOGUE_CODE" jdbcType="OTHER" property="catalogueCode" />
    <result column="CATALOGUE_RULE" jdbcType="OTHER" property="catalogueRule" />
    <result column="CATALOGUE_NAME" jdbcType="OTHER" property="catalogueName" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.DiaResult">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="ORGAN_CODE" jdbcType="VARCHAR" property="organCode" />
    <result column="CATALOGUE_CODE" jdbcType="VARCHAR" property="catalogueCode" />
    <result column="CATALOGUE_RULE" jdbcType="VARCHAR" property="catalogueRule" />
    <result column="CATALOGUE_NAME" jdbcType="VARCHAR" property="catalogueName" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.DiaResult">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="ORGAN_CODE" jdbcType="VARCHAR" property="organCode" />
    <result column="CATALOGUE_CODE" jdbcType="VARCHAR" property="catalogueCode" />
    <result column="CATALOGUE_RULE" jdbcType="VARCHAR" property="catalogueRule" />
    <result column="CATALOGUE_NAME" jdbcType="VARCHAR" property="catalogueName" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.DiaResult">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="ORGAN_CODE" jdbcType="VARCHAR" property="organCode" />
    <result column="CATALOGUE_CODE" jdbcType="VARCHAR" property="catalogueCode" />
    <result column="CATALOGUE_RULE" jdbcType="VARCHAR" property="catalogueRule" />
    <result column="CATALOGUE_NAME" jdbcType="VARCHAR" property="catalogueName" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.DiaResult">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="ORGAN_CODE" jdbcType="VARCHAR" property="organCode" />
    <result column="CATALOGUE_CODE" jdbcType="VARCHAR" property="catalogueCode" />
    <result column="CATALOGUE_RULE" jdbcType="VARCHAR" property="catalogueRule" />
    <result column="CATALOGUE_NAME" jdbcType="VARCHAR" property="catalogueName" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.DiaResult">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="ORGAN_CODE" jdbcType="VARCHAR" property="organCode" />
    <result column="CATALOGUE_CODE" jdbcType="VARCHAR" property="catalogueCode" />
    <result column="CATALOGUE_RULE" jdbcType="VARCHAR" property="catalogueRule" />
    <result column="CATALOGUE_NAME" jdbcType="VARCHAR" property="catalogueName" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.DiaResult">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="ORGAN_CODE" jdbcType="VARCHAR" property="organCode" />
    <result column="CATALOGUE_CODE" jdbcType="VARCHAR" property="catalogueCode" />
    <result column="CATALOGUE_RULE" jdbcType="VARCHAR" property="catalogueRule" />
    <result column="CATALOGUE_NAME" jdbcType="VARCHAR" property="catalogueName" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.DiaResult">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="ORGAN_CODE" jdbcType="VARCHAR" property="organCode" />
    <result column="CATALOGUE_CODE" jdbcType="VARCHAR" property="catalogueCode" />
    <result column="CATALOGUE_RULE" jdbcType="VARCHAR" property="catalogueRule" />
    <result column="CATALOGUE_NAME" jdbcType="VARCHAR" property="catalogueName" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.DiaResult">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="ORGAN_CODE" jdbcType="VARCHAR" property="organCode" />
    <result column="CATALOGUE_CODE" jdbcType="VARCHAR" property="catalogueCode" />
    <result column="CATALOGUE_RULE" jdbcType="VARCHAR" property="catalogueRule" />
    <result column="CATALOGUE_NAME" jdbcType="VARCHAR" property="catalogueName" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.DiaResult">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="ORGAN_CODE" jdbcType="VARCHAR" property="organCode" />
    <result column="CATALOGUE_CODE" jdbcType="VARCHAR" property="catalogueCode" />
    <result column="CATALOGUE_RULE" jdbcType="VARCHAR" property="catalogueRule" />
    <result column="CATALOGUE_NAME" jdbcType="VARCHAR" property="catalogueName" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
</mapper>