<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.garfield.combat.dao.DicItemMapper">
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.DicItem">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="DIC_ITEM_CODE" jdbcType="VARCHAR" property="dicItemCode" />
    <result column="DIC_ITEM_KEY" jdbcType="VARCHAR" property="dicItemKey" />
    <result column="DIC_ITEM_VALUE" jdbcType="VARCHAR" property="dicItemValue" />
    <result column="CONFIGURE_STATUS" jdbcType="VARCHAR" property="configureStatus" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
  </resultMap>

</mapper>