<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.garfield.combat.dao.EvaluationStyleMapper">
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.EvaluationStyle">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="STYLE_ID" jdbcType="DECIMAL" property="styleId" />
    <result column="EVALUATION_LIST_ID" jdbcType="DECIMAL" property="evaluationListId" />
    <result column="GLOBAL_SETTING" jdbcType="VARCHAR" property="globalSetting" />
    <result column="HEADLINE_SETTING" jdbcType="VARCHAR" property="headlineSetting" />
    <result column="LABEL_SETTING" jdbcType="VARCHAR" property="labelSetting" />
    <result column="QUESTION_SETTING" jdbcType="VARCHAR" property="questionSetting" />
    <result column="OPTION_SETTING" jdbcType="VARCHAR" property="optionSetting" />
    <result column="COMMENT_SETTING" jdbcType="VARCHAR" property="commentSetting" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.EvaluationStyle">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="STYLE_ID" jdbcType="DECIMAL" property="styleId" />
    <result column="EVALUATION_LIST_ID" jdbcType="DECIMAL" property="evaluationListId" />
    <result column="GLOBAL_SETTING" jdbcType="VARCHAR" property="globalSetting" />
    <result column="HEADLINE_SETTING" jdbcType="VARCHAR" property="headlineSetting" />
    <result column="LABEL_SETTING" jdbcType="VARCHAR" property="labelSetting" />
    <result column="QUESTION_SETTING" jdbcType="VARCHAR" property="questionSetting" />
    <result column="OPTION_SETTING" jdbcType="VARCHAR" property="optionSetting" />
    <result column="COMMENT_SETTING" jdbcType="VARCHAR" property="commentSetting" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.EvaluationStyle">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="STYLE_ID" jdbcType="DECIMAL" property="styleId" />
    <result column="EVALUATION_LIST_ID" jdbcType="DECIMAL" property="evaluationListId" />
    <result column="GLOBAL_SETTING" jdbcType="VARCHAR" property="globalSetting" />
    <result column="HEADLINE_SETTING" jdbcType="VARCHAR" property="headlineSetting" />
    <result column="LABEL_SETTING" jdbcType="VARCHAR" property="labelSetting" />
    <result column="QUESTION_SETTING" jdbcType="VARCHAR" property="questionSetting" />
    <result column="OPTION_SETTING" jdbcType="VARCHAR" property="optionSetting" />
    <result column="COMMENT_SETTING" jdbcType="VARCHAR" property="commentSetting" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.EvaluationStyle">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="STYLE_ID" jdbcType="DECIMAL" property="styleId" />
    <result column="EVALUATION_LIST_ID" jdbcType="DECIMAL" property="evaluationListId" />
    <result column="GLOBAL_SETTING" jdbcType="VARCHAR" property="globalSetting" />
    <result column="HEADLINE_SETTING" jdbcType="VARCHAR" property="headlineSetting" />
    <result column="LABEL_SETTING" jdbcType="VARCHAR" property="labelSetting" />
    <result column="QUESTION_SETTING" jdbcType="VARCHAR" property="questionSetting" />
    <result column="OPTION_SETTING" jdbcType="VARCHAR" property="optionSetting" />
    <result column="COMMENT_SETTING" jdbcType="VARCHAR" property="commentSetting" />
    <result column="GLOBAL_DIRECTION" jdbcType="VARCHAR" property="globalDirection" />
    <result column="GLOBAL_COLUMN" jdbcType="VARCHAR" property="globalColumn" />
    <result column="GLOBAL_COLUMNWIDE" jdbcType="VARCHAR" property="globalColumnwide" />
    <result column="GLOBAL_BACKGROUD" jdbcType="VARCHAR" property="globalBackgroud" />
    <result column="GLOBAL_PAGEHEADER" jdbcType="VARCHAR" property="globalPageheader" />
    <result column="GLOBAL_PAGEFOOTER" jdbcType="VARCHAR" property="globalPagefooter" />
    <result column="HEADLINE_FONT" jdbcType="VARCHAR" property="headlineFont" />
    <result column="HEADLINE_FONTSIZE" jdbcType="VARCHAR" property="headlineFontsize" />
    <result column="HEADLINE_FONTCOLOR" jdbcType="VARCHAR" property="headlineFontcolor" />
    <result column="HEADLINE_ROWHEIGHT" jdbcType="VARCHAR" property="headlineRowheight" />
    <result column="HEADLINE_ARRANGE" jdbcType="VARCHAR" property="headlineArrange" />
    <result column="LABEL_FONT" jdbcType="VARCHAR" property="labelFont" />
    <result column="LABEL_FONTSIZE" jdbcType="VARCHAR" property="labelFontsize" />
    <result column="LABEL_FONTCOLOR" jdbcType="VARCHAR" property="labelFontcolor" />
    <result column="LABEL_ROWHEIGHT" jdbcType="VARCHAR" property="labelRowheight" />
    <result column="LABEL_ARRANGE" jdbcType="VARCHAR" property="labelArrange" />
    <result column="QUESTION_FONT" jdbcType="VARCHAR" property="questionFont" />
    <result column="QUESTION_FONTSIZE" jdbcType="VARCHAR" property="questionFontsize" />
    <result column="QUESTION_FONTCOLOR" jdbcType="VARCHAR" property="questionFontcolor" />
    <result column="QUESTION_ROWHEIGHT" jdbcType="VARCHAR" property="questionRowheight" />
    <result column="QUESTION_ARRANGE" jdbcType="VARCHAR" property="questionArrange" />
    <result column="OPTION_FONT" jdbcType="VARCHAR" property="optionFont" />
    <result column="OPTION_FONTSIZE" jdbcType="VARCHAR" property="optionFontsize" />
    <result column="OPTION_ROWHEIGHT" jdbcType="VARCHAR" property="optionRowheight" />
    <result column="OPTION_ARRANGE" jdbcType="VARCHAR" property="optionArrange" />
    <result column="COMMENT_FONT" jdbcType="VARCHAR" property="commentFont" />
    <result column="COMMENT_FONTSIZE" jdbcType="VARCHAR" property="commentFontsize" />
    <result column="COMMENT_FONTCOLOR" jdbcType="VARCHAR" property="commentFontcolor" />
    <result column="COMMENT_ARRANGE" jdbcType="VARCHAR" property="commentArrange" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.EvaluationStyle">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="STYLE_ID" jdbcType="DECIMAL" property="styleId" />
    <result column="EVALUATION_LIST_ID" jdbcType="DECIMAL" property="evaluationListId" />
    <result column="GLOBAL_SETTING" jdbcType="VARCHAR" property="globalSetting" />
    <result column="HEADLINE_SETTING" jdbcType="VARCHAR" property="headlineSetting" />
    <result column="LABEL_SETTING" jdbcType="VARCHAR" property="labelSetting" />
    <result column="QUESTION_SETTING" jdbcType="VARCHAR" property="questionSetting" />
    <result column="OPTION_SETTING" jdbcType="VARCHAR" property="optionSetting" />
    <result column="COMMENT_SETTING" jdbcType="VARCHAR" property="commentSetting" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.EvaluationStyle">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="STYLE_ID" jdbcType="DECIMAL" property="styleId" />
    <result column="EVALUATION_LIST_ID" jdbcType="DECIMAL" property="evaluationListId" />
    <result column="GLOBAL_SETTING" jdbcType="VARCHAR" property="globalSetting" />
    <result column="HEADLINE_SETTING" jdbcType="VARCHAR" property="headlineSetting" />
    <result column="LABEL_SETTING" jdbcType="VARCHAR" property="labelSetting" />
    <result column="QUESTION_SETTING" jdbcType="VARCHAR" property="questionSetting" />
    <result column="OPTION_SETTING" jdbcType="VARCHAR" property="optionSetting" />
    <result column="COMMENT_SETTING" jdbcType="VARCHAR" property="commentSetting" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.EvaluationStyle">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="STYLE_ID" jdbcType="DECIMAL" property="styleId" />
    <result column="EVALUATION_LIST_ID" jdbcType="DECIMAL" property="evaluationListId" />
    <result column="GLOBAL_SETTING" jdbcType="OTHER" property="globalSetting" />
    <result column="HEADLINE_SETTING" jdbcType="OTHER" property="headlineSetting" />
    <result column="LABEL_SETTING" jdbcType="OTHER" property="labelSetting" />
    <result column="QUESTION_SETTING" jdbcType="OTHER" property="questionSetting" />
    <result column="OPTION_SETTING" jdbcType="OTHER" property="optionSetting" />
    <result column="COMMENT_SETTING" jdbcType="OTHER" property="commentSetting" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.EvaluationStyle">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="STYLE_ID" jdbcType="DECIMAL" property="styleId" />
    <result column="EVALUATION_LIST_ID" jdbcType="DECIMAL" property="evaluationListId" />
    <result column="GLOBAL_SETTING" jdbcType="VARCHAR" property="globalSetting" />
    <result column="HEADLINE_SETTING" jdbcType="VARCHAR" property="headlineSetting" />
    <result column="LABEL_SETTING" jdbcType="VARCHAR" property="labelSetting" />
    <result column="QUESTION_SETTING" jdbcType="VARCHAR" property="questionSetting" />
    <result column="OPTION_SETTING" jdbcType="VARCHAR" property="optionSetting" />
    <result column="COMMENT_SETTING" jdbcType="VARCHAR" property="commentSetting" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.EvaluationStyle">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="STYLE_ID" jdbcType="DECIMAL" property="styleId" />
    <result column="EVALUATION_LIST_ID" jdbcType="DECIMAL" property="evaluationListId" />
    <result column="GLOBAL_SETTING" jdbcType="VARCHAR" property="globalSetting" />
    <result column="HEADLINE_SETTING" jdbcType="VARCHAR" property="headlineSetting" />
    <result column="LABEL_SETTING" jdbcType="VARCHAR" property="labelSetting" />
    <result column="QUESTION_SETTING" jdbcType="VARCHAR" property="questionSetting" />
    <result column="OPTION_SETTING" jdbcType="VARCHAR" property="optionSetting" />
    <result column="COMMENT_SETTING" jdbcType="VARCHAR" property="commentSetting" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.EvaluationStyle">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="STYLE_ID" jdbcType="DECIMAL" property="styleId" />
    <result column="EVALUATION_LIST_ID" jdbcType="DECIMAL" property="evaluationListId" />
    <result column="GLOBAL_SETTING" jdbcType="VARCHAR" property="globalSetting" />
    <result column="HEADLINE_SETTING" jdbcType="VARCHAR" property="headlineSetting" />
    <result column="LABEL_SETTING" jdbcType="VARCHAR" property="labelSetting" />
    <result column="QUESTION_SETTING" jdbcType="VARCHAR" property="questionSetting" />
    <result column="OPTION_SETTING" jdbcType="VARCHAR" property="optionSetting" />
    <result column="COMMENT_SETTING" jdbcType="VARCHAR" property="commentSetting" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.EvaluationStyle">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="STYLE_ID" jdbcType="DECIMAL" property="styleId" />
    <result column="EVALUATION_LIST_ID" jdbcType="DECIMAL" property="evaluationListId" />
    <result column="GLOBAL_SETTING" jdbcType="VARCHAR" property="globalSetting" />
    <result column="HEADLINE_SETTING" jdbcType="VARCHAR" property="headlineSetting" />
    <result column="LABEL_SETTING" jdbcType="VARCHAR" property="labelSetting" />
    <result column="QUESTION_SETTING" jdbcType="VARCHAR" property="questionSetting" />
    <result column="OPTION_SETTING" jdbcType="VARCHAR" property="optionSetting" />
    <result column="COMMENT_SETTING" jdbcType="VARCHAR" property="commentSetting" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.EvaluationStyle">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="STYLE_ID" jdbcType="DECIMAL" property="styleId" />
    <result column="EVALUATION_LIST_ID" jdbcType="DECIMAL" property="evaluationListId" />
    <result column="GLOBAL_SETTING" jdbcType="VARCHAR" property="globalSetting" />
    <result column="HEADLINE_SETTING" jdbcType="VARCHAR" property="headlineSetting" />
    <result column="LABEL_SETTING" jdbcType="VARCHAR" property="labelSetting" />
    <result column="QUESTION_SETTING" jdbcType="VARCHAR" property="questionSetting" />
    <result column="OPTION_SETTING" jdbcType="VARCHAR" property="optionSetting" />
    <result column="COMMENT_SETTING" jdbcType="VARCHAR" property="commentSetting" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.EvaluationStyle">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="STYLE_ID" jdbcType="DECIMAL" property="styleId" />
    <result column="EVALUATION_LIST_ID" jdbcType="DECIMAL" property="evaluationListId" />
    <result column="GLOBAL_SETTING" jdbcType="VARCHAR" property="globalSetting" />
    <result column="HEADLINE_SETTING" jdbcType="VARCHAR" property="headlineSetting" />
    <result column="LABEL_SETTING" jdbcType="VARCHAR" property="labelSetting" />
    <result column="QUESTION_SETTING" jdbcType="VARCHAR" property="questionSetting" />
    <result column="OPTION_SETTING" jdbcType="VARCHAR" property="optionSetting" />
    <result column="COMMENT_SETTING" jdbcType="VARCHAR" property="commentSetting" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.EvaluationStyle">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="STYLE_ID" jdbcType="DECIMAL" property="styleId" />
    <result column="EVALUATION_LIST_ID" jdbcType="DECIMAL" property="evaluationListId" />
    <result column="GLOBAL_SETTING" jdbcType="VARCHAR" property="globalSetting" />
    <result column="HEADLINE_SETTING" jdbcType="VARCHAR" property="headlineSetting" />
    <result column="LABEL_SETTING" jdbcType="VARCHAR" property="labelSetting" />
    <result column="QUESTION_SETTING" jdbcType="VARCHAR" property="questionSetting" />
    <result column="OPTION_SETTING" jdbcType="VARCHAR" property="optionSetting" />
    <result column="COMMENT_SETTING" jdbcType="VARCHAR" property="commentSetting" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.EvaluationStyle">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="STYLE_ID" jdbcType="DECIMAL" property="styleId" />
    <result column="EVALUATION_LIST_ID" jdbcType="DECIMAL" property="evaluationListId" />
    <result column="GLOBAL_SETTING" jdbcType="VARCHAR" property="globalSetting" />
    <result column="HEADLINE_SETTING" jdbcType="VARCHAR" property="headlineSetting" />
    <result column="LABEL_SETTING" jdbcType="VARCHAR" property="labelSetting" />
    <result column="QUESTION_SETTING" jdbcType="VARCHAR" property="questionSetting" />
    <result column="OPTION_SETTING" jdbcType="VARCHAR" property="optionSetting" />
    <result column="COMMENT_SETTING" jdbcType="VARCHAR" property="commentSetting" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.EvaluationStyle">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="STYLE_ID" jdbcType="DECIMAL" property="styleId" />
    <result column="EVALUATION_LIST_ID" jdbcType="DECIMAL" property="evaluationListId" />
    <result column="GLOBAL_SETTING" jdbcType="VARCHAR" property="globalSetting" />
    <result column="HEADLINE_SETTING" jdbcType="VARCHAR" property="headlineSetting" />
    <result column="LABEL_SETTING" jdbcType="VARCHAR" property="labelSetting" />
    <result column="QUESTION_SETTING" jdbcType="VARCHAR" property="questionSetting" />
    <result column="OPTION_SETTING" jdbcType="VARCHAR" property="optionSetting" />
    <result column="COMMENT_SETTING" jdbcType="VARCHAR" property="commentSetting" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.EvaluationStyle">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="STYLE_ID" jdbcType="DECIMAL" property="styleId" />
    <result column="EVALUATION_LIST_ID" jdbcType="DECIMAL" property="evaluationListId" />
    <result column="GLOBAL_SETTING" jdbcType="VARCHAR" property="globalSetting" />
    <result column="HEADLINE_SETTING" jdbcType="VARCHAR" property="headlineSetting" />
    <result column="LABEL_SETTING" jdbcType="VARCHAR" property="labelSetting" />
    <result column="QUESTION_SETTING" jdbcType="VARCHAR" property="questionSetting" />
    <result column="OPTION_SETTING" jdbcType="VARCHAR" property="optionSetting" />
    <result column="COMMENT_SETTING" jdbcType="VARCHAR" property="commentSetting" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.EvaluationStyle">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="STYLE_ID" jdbcType="DECIMAL" property="styleId" />
    <result column="EVALUATION_LIST_ID" jdbcType="DECIMAL" property="evaluationListId" />
    <result column="GLOBAL_SETTING" jdbcType="VARCHAR" property="globalSetting" />
    <result column="HEADLINE_SETTING" jdbcType="VARCHAR" property="headlineSetting" />
    <result column="LABEL_SETTING" jdbcType="VARCHAR" property="labelSetting" />
    <result column="QUESTION_SETTING" jdbcType="VARCHAR" property="questionSetting" />
    <result column="OPTION_SETTING" jdbcType="VARCHAR" property="optionSetting" />
    <result column="COMMENT_SETTING" jdbcType="VARCHAR" property="commentSetting" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.EvaluationStyle">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="STYLE_ID" jdbcType="DECIMAL" property="styleId" />
    <result column="EVALUATION_LIST_ID" jdbcType="DECIMAL" property="evaluationListId" />
    <result column="GLOBAL_SETTING" jdbcType="VARCHAR" property="globalSetting" />
    <result column="HEADLINE_SETTING" jdbcType="VARCHAR" property="headlineSetting" />
    <result column="LABEL_SETTING" jdbcType="VARCHAR" property="labelSetting" />
    <result column="QUESTION_SETTING" jdbcType="VARCHAR" property="questionSetting" />
    <result column="OPTION_SETTING" jdbcType="VARCHAR" property="optionSetting" />
    <result column="COMMENT_SETTING" jdbcType="VARCHAR" property="commentSetting" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.EvaluationStyle">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="STYLE_ID" jdbcType="DECIMAL" property="styleId" />
    <result column="EVALUATION_LIST_ID" jdbcType="DECIMAL" property="evaluationListId" />
    <result column="GLOBAL_SETTING" jdbcType="VARCHAR" property="globalSetting" />
    <result column="HEADLINE_SETTING" jdbcType="VARCHAR" property="headlineSetting" />
    <result column="LABEL_SETTING" jdbcType="VARCHAR" property="labelSetting" />
    <result column="QUESTION_SETTING" jdbcType="VARCHAR" property="questionSetting" />
    <result column="OPTION_SETTING" jdbcType="VARCHAR" property="optionSetting" />
    <result column="COMMENT_SETTING" jdbcType="VARCHAR" property="commentSetting" />
  </resultMap>
</mapper>