<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.garfield.combat.dao.EvaluationModuleMapper">
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.EvaluationModule">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="SERIAL_NO" jdbcType="DECIMAL" property="serialNo" />
    <result column="EVALUATION_LIST_ID" jdbcType="DECIMAL" property="evaluationListId" />
    <result column="MODULE_ID" jdbcType="DECIMAL" property="moduleId" />
  </resultMap>

</mapper>