<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.garfield.combat.dao.EvaluationColumnMapper">
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.EvaluationColumn">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="COLUMN_ID" jdbcType="DECIMAL" property="columnId" />
    <result column="TABLE_ID" jdbcType="DECIMAL" property="tableId" />
    <result column="COLUMN_TYPE" jdbcType="VARCHAR" property="columnType" />
    <result column="SORT_NUM" jdbcType="DECIMAL" property="sortNum" />
  </resultMap>

</mapper>