<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.garfield.combat.dao.EvaluationRelationMapper">
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.EvaluationRelation">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="UNIQUE_ID" jdbcType="DECIMAL" property="uniqueId" />
    <result column="QUESTION_ID" jdbcType="DECIMAL" property="questionId" />
    <result column="HIERARCHY_CODE" jdbcType="VARCHAR" property="hierarchyCode" />
    <result column="ROOT_QUESTION_ID" jdbcType="DECIMAL" property="rootQuestionId" />
    <result column="EVALUATION_LIST_ID" jdbcType="DECIMAL" property="evaluationListId" />
    <result column="QUOTE_UNIQUE_ID" jdbcType="DECIMAL" property="quoteUniqueId" />
    <result column="SORT_NUM" jdbcType="DECIMAL" property="sortNum" />
    <result column="PARENT_UNIQUE_ID" jdbcType="DECIMAL" property="parentUniqueId" />
    <result column="PARENT_OPTION_ID" jdbcType="DECIMAL" property="parentOptionId" />
    <result column="HIERARCHY_TYPE" jdbcType="DECIMAL" property="hierarchyType" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.EvaluationRelation">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="UNIQUE_ID" jdbcType="DECIMAL" property="uniqueId" />
    <result column="QUESTION_ID" jdbcType="DECIMAL" property="questionId" />
    <result column="HIERARCHY_CODE" jdbcType="VARCHAR" property="hierarchyCode" />
    <result column="ROOT_QUESTION_ID" jdbcType="DECIMAL" property="rootQuestionId" />
    <result column="EVALUATION_LIST_ID" jdbcType="DECIMAL" property="evaluationListId" />
    <result column="QUOTE_UNIQUE_ID" jdbcType="DECIMAL" property="quoteUniqueId" />
    <result column="SORT_NUM" jdbcType="DECIMAL" property="sortNum" />
    <result column="PARENT_UNIQUE_ID" jdbcType="DECIMAL" property="parentUniqueId" />
    <result column="PARENT_OPTION_ID" jdbcType="DECIMAL" property="parentOptionId" />
    <result column="HIERARCHY_TYPE" jdbcType="DECIMAL" property="hierarchyType" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.EvaluationRelation">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="UNIQUE_ID" jdbcType="DECIMAL" property="uniqueId" />
    <result column="QUESTION_ID" jdbcType="DECIMAL" property="questionId" />
    <result column="HIERARCHY_CODE" jdbcType="VARCHAR" property="hierarchyCode" />
    <result column="ROOT_QUESTION_ID" jdbcType="DECIMAL" property="rootQuestionId" />
    <result column="EVALUATION_LIST_ID" jdbcType="DECIMAL" property="evaluationListId" />
    <result column="QUOTE_UNIQUE_ID" jdbcType="DECIMAL" property="quoteUniqueId" />
    <result column="SORT_NUM" jdbcType="DECIMAL" property="sortNum" />
    <result column="PARENT_UNIQUE_ID" jdbcType="DECIMAL" property="parentUniqueId" />
    <result column="PARENT_OPTION_ID" jdbcType="DECIMAL" property="parentOptionId" />
    <result column="HIERARCHY_TYPE" jdbcType="DECIMAL" property="hierarchyType" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.EvaluationRelation">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="UNIQUE_ID" jdbcType="DECIMAL" property="uniqueId" />
    <result column="QUESTION_ID" jdbcType="DECIMAL" property="questionId" />
    <result column="HIERARCHY_CODE" jdbcType="VARCHAR" property="hierarchyCode" />
    <result column="ROOT_QUESTION_ID" jdbcType="DECIMAL" property="rootQuestionId" />
    <result column="EVALUATION_LIST_ID" jdbcType="DECIMAL" property="evaluationListId" />
    <result column="QUOTE_UNIQUE_ID" jdbcType="DECIMAL" property="quoteUniqueId" />
    <result column="SORT_NUM" jdbcType="DECIMAL" property="sortNum" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.EvaluationRelation">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="UNIQUE_ID" jdbcType="DECIMAL" property="uniqueId" />
    <result column="QUESTION_ID" jdbcType="DECIMAL" property="questionId" />
    <result column="HIERARCHY_CODE" jdbcType="VARCHAR" property="hierarchyCode" />
    <result column="ROOT_QUESTION_ID" jdbcType="DECIMAL" property="rootQuestionId" />
    <result column="EVALUATION_LIST_ID" jdbcType="DECIMAL" property="evaluationListId" />
    <result column="QUOTE_UNIQUE_ID" jdbcType="DECIMAL" property="quoteUniqueId" />
    <result column="SORT_NUM" jdbcType="DECIMAL" property="sortNum" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.EvaluationRelation">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="UNIQUE_ID" jdbcType="DECIMAL" property="uniqueId" />
    <result column="QUESTION_ID" jdbcType="DECIMAL" property="questionId" />
    <result column="HIERARCHY_CODE" jdbcType="VARCHAR" property="hierarchyCode" />
    <result column="ROOT_QUESTION_ID" jdbcType="DECIMAL" property="rootQuestionId" />
    <result column="EVALUATION_LIST_ID" jdbcType="DECIMAL" property="evaluationListId" />
    <result column="QUOTE_UNIQUE_ID" jdbcType="DECIMAL" property="quoteUniqueId" />
    <result column="SORT_NUM" jdbcType="DECIMAL" property="sortNum" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.EvaluationRelation">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="UNIQUE_ID" jdbcType="DECIMAL" property="uniqueId" />
    <result column="QUESTION_ID" jdbcType="DECIMAL" property="questionId" />
    <result column="HIERARCHY_CODE" jdbcType="VARCHAR" property="hierarchyCode" />
    <result column="ROOT_QUESTION_ID" jdbcType="DECIMAL" property="rootQuestionId" />
    <result column="EVALUATION_LIST_ID" jdbcType="DECIMAL" property="evaluationListId" />
    <result column="QUOTE_UNIQUE_ID" jdbcType="DECIMAL" property="quoteUniqueId" />
    <result column="SORT_NUM" jdbcType="DECIMAL" property="sortNum" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.EvaluationRelation">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="UNIQUE_ID" jdbcType="DECIMAL" property="uniqueId" />
    <result column="QUESTION_ID" jdbcType="DECIMAL" property="questionId" />
    <result column="HIERARCHY_CODE" jdbcType="VARCHAR" property="hierarchyCode" />
    <result column="ROOT_QUESTION_ID" jdbcType="DECIMAL" property="rootQuestionId" />
    <result column="EVALUATION_LIST_ID" jdbcType="DECIMAL" property="evaluationListId" />
    <result column="QUOTE_UNIQUE_ID" jdbcType="DECIMAL" property="quoteUniqueId" />
    <result column="SORT_NUM" jdbcType="DECIMAL" property="sortNum" />
    <result column="PARENT_UNIQUE_ID" jdbcType="DECIMAL" property="parentUniqueId" />
    <result column="PARENT_OPTION_ID" jdbcType="DECIMAL" property="parentOptionId" />
    <result column="HIERARCHY_TYPE" jdbcType="DECIMAL" property="hierarchyType" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.EvaluationRelation">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="UNIQUE_ID" jdbcType="DECIMAL" property="uniqueId" />
    <result column="QUESTION_ID" jdbcType="DECIMAL" property="questionId" />
    <result column="HIERARCHY_CODE" jdbcType="VARCHAR" property="hierarchyCode" />
    <result column="ROOT_QUESTION_ID" jdbcType="DECIMAL" property="rootQuestionId" />
    <result column="EVALUATION_LIST_ID" jdbcType="DECIMAL" property="evaluationListId" />
    <result column="QUOTE_UNIQUE_ID" jdbcType="DECIMAL" property="quoteUniqueId" />
    <result column="SORT_NUM" jdbcType="DECIMAL" property="sortNum" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.EvaluationRelation">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="UNIQUE_ID" jdbcType="DECIMAL" property="uniqueId" />
    <result column="QUESTION_ID" jdbcType="DECIMAL" property="questionId" />
    <result column="HIERARCHY_CODE" jdbcType="VARCHAR" property="hierarchyCode" />
    <result column="ROOT_QUESTION_ID" jdbcType="DECIMAL" property="rootQuestionId" />
    <result column="EVALUATION_LIST_ID" jdbcType="DECIMAL" property="evaluationListId" />
    <result column="QUOTE_UNIQUE_ID" jdbcType="DECIMAL" property="quoteUniqueId" />
    <result column="SORT_NUM" jdbcType="DECIMAL" property="sortNum" />
    <result column="PARENT_UNIQUE_ID" jdbcType="DECIMAL" property="parentUniqueId" />
    <result column="PARENT_OPTION_ID" jdbcType="DECIMAL" property="parentOptionId" />
    <result column="HIERARCHY_TYPE" jdbcType="DECIMAL" property="hierarchyType" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.EvaluationRelation">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="UNIQUE_ID" jdbcType="DECIMAL" property="uniqueId" />
    <result column="QUESTION_ID" jdbcType="DECIMAL" property="questionId" />
    <result column="HIERARCHY_CODE" jdbcType="VARCHAR" property="hierarchyCode" />
    <result column="ROOT_QUESTION_ID" jdbcType="DECIMAL" property="rootQuestionId" />
    <result column="EVALUATION_LIST_ID" jdbcType="DECIMAL" property="evaluationListId" />
    <result column="QUOTE_UNIQUE_ID" jdbcType="DECIMAL" property="quoteUniqueId" />
    <result column="SORT_NUM" jdbcType="DECIMAL" property="sortNum" />
    <result column="PARENT_UNIQUE_ID" jdbcType="DECIMAL" property="parentUniqueId" />
    <result column="PARENT_OPTION_ID" jdbcType="DECIMAL" property="parentOptionId" />
    <result column="HIERARCHY_TYPE" jdbcType="DECIMAL" property="hierarchyType" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.EvaluationRelation">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="UNIQUE_ID" jdbcType="DECIMAL" property="uniqueId" />
    <result column="QUESTION_ID" jdbcType="DECIMAL" property="questionId" />
    <result column="HIERARCHY_CODE" jdbcType="VARCHAR" property="hierarchyCode" />
    <result column="ROOT_QUESTION_ID" jdbcType="DECIMAL" property="rootQuestionId" />
    <result column="EVALUATION_LIST_ID" jdbcType="DECIMAL" property="evaluationListId" />
    <result column="QUOTE_UNIQUE_ID" jdbcType="DECIMAL" property="quoteUniqueId" />
    <result column="SORT_NUM" jdbcType="DECIMAL" property="sortNum" />
    <result column="PARENT_UNIQUE_ID" jdbcType="DECIMAL" property="parentUniqueId" />
    <result column="PARENT_OPTION_ID" jdbcType="DECIMAL" property="parentOptionId" />
    <result column="HIERARCHY_TYPE" jdbcType="DECIMAL" property="hierarchyType" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.EvaluationRelation">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="UNIQUE_ID" jdbcType="DECIMAL" property="uniqueId" />
    <result column="QUESTION_ID" jdbcType="DECIMAL" property="questionId" />
    <result column="HIERARCHY_CODE" jdbcType="VARCHAR" property="hierarchyCode" />
    <result column="ROOT_QUESTION_ID" jdbcType="DECIMAL" property="rootQuestionId" />
    <result column="EVALUATION_LIST_ID" jdbcType="DECIMAL" property="evaluationListId" />
    <result column="QUOTE_UNIQUE_ID" jdbcType="DECIMAL" property="quoteUniqueId" />
    <result column="SORT_NUM" jdbcType="DECIMAL" property="sortNum" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.EvaluationRelation">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="UNIQUE_ID" jdbcType="DECIMAL" property="uniqueId" />
    <result column="QUESTION_ID" jdbcType="DECIMAL" property="questionId" />
    <result column="HIERARCHY_CODE" jdbcType="VARCHAR" property="hierarchyCode" />
    <result column="ROOT_QUESTION_ID" jdbcType="DECIMAL" property="rootQuestionId" />
    <result column="EVALUATION_LIST_ID" jdbcType="DECIMAL" property="evaluationListId" />
    <result column="QUOTE_UNIQUE_ID" jdbcType="DECIMAL" property="quoteUniqueId" />
    <result column="SORT_NUM" jdbcType="DECIMAL" property="sortNum" />
    <result column="PARENT_UNIQUE_ID" jdbcType="DECIMAL" property="parentUniqueId" />
    <result column="HIERARCHY_TYPE" jdbcType="DECIMAL" property="hierarchyType" />
    <result column="PARENT_OPTION_ID" jdbcType="DECIMAL" property="parentOptionId" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.EvaluationRelation">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="UNIQUE_ID" jdbcType="DECIMAL" property="uniqueId" />
    <result column="QUESTION_ID" jdbcType="DECIMAL" property="questionId" />
    <result column="HIERARCHY_CODE" jdbcType="VARCHAR" property="hierarchyCode" />
    <result column="ROOT_QUESTION_ID" jdbcType="DECIMAL" property="rootQuestionId" />
    <result column="EVALUATION_LIST_ID" jdbcType="DECIMAL" property="evaluationListId" />
    <result column="QUOTE_UNIQUE_ID" jdbcType="DECIMAL" property="quoteUniqueId" />
    <result column="SORT_NUM" jdbcType="DECIMAL" property="sortNum" />
    <result column="PARENT_UNIQUE_ID" jdbcType="DECIMAL" property="parentUniqueId" />
    <result column="PARENT_OPTION_ID" jdbcType="DECIMAL" property="parentOptionId" />
    <result column="HIERARCHY_TYPE" jdbcType="DECIMAL" property="hierarchyType" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.EvaluationRelation">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="UNIQUE_ID" jdbcType="DECIMAL" property="uniqueId" />
    <result column="QUESTION_ID" jdbcType="DECIMAL" property="questionId" />
    <result column="HIERARCHY_CODE" jdbcType="OTHER" property="hierarchyCode" />
    <result column="ROOT_QUESTION_ID" jdbcType="DECIMAL" property="rootQuestionId" />
    <result column="EVALUATION_LIST_ID" jdbcType="DECIMAL" property="evaluationListId" />
    <result column="QUOTE_UNIQUE_ID" jdbcType="DECIMAL" property="quoteUniqueId" />
    <result column="SORT_NUM" jdbcType="DECIMAL" property="sortNum" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.EvaluationRelation">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="UNIQUE_ID" jdbcType="DECIMAL" property="uniqueId" />
    <result column="QUESTION_ID" jdbcType="DECIMAL" property="questionId" />
    <result column="HIERARCHY_CODE" jdbcType="VARCHAR" property="hierarchyCode" />
    <result column="ROOT_QUESTION_ID" jdbcType="DECIMAL" property="rootQuestionId" />
    <result column="EVALUATION_LIST_ID" jdbcType="DECIMAL" property="evaluationListId" />
    <result column="QUOTE_UNIQUE_ID" jdbcType="DECIMAL" property="quoteUniqueId" />
    <result column="SORT_NUM" jdbcType="DECIMAL" property="sortNum" />
    <result column="PARENT_UNIQUE_ID" jdbcType="DECIMAL" property="parentUniqueId" />
    <result column="PARENT_OPTION_ID" jdbcType="DECIMAL" property="parentOptionId" />
    <result column="HIERARCHY_TYPE" jdbcType="DECIMAL" property="hierarchyType" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.EvaluationRelation">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="UNIQUE_ID" jdbcType="DECIMAL" property="uniqueId" />
    <result column="QUESTION_ID" jdbcType="DECIMAL" property="questionId" />
    <result column="HIERARCHY_CODE" jdbcType="VARCHAR" property="hierarchyCode" />
    <result column="ROOT_QUESTION_ID" jdbcType="DECIMAL" property="rootQuestionId" />
    <result column="EVALUATION_LIST_ID" jdbcType="DECIMAL" property="evaluationListId" />
    <result column="QUOTE_UNIQUE_ID" jdbcType="DECIMAL" property="quoteUniqueId" />
    <result column="SORT_NUM" jdbcType="DECIMAL" property="sortNum" />
    <result column="PARENT_UNIQUE_ID" jdbcType="DECIMAL" property="parentUniqueId" />
    <result column="PARENT_OPTION_ID" jdbcType="DECIMAL" property="parentOptionId" />
    <result column="HIERARCHY_TYPE" jdbcType="DECIMAL" property="hierarchyType" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.EvaluationRelation">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="UNIQUE_ID" jdbcType="DECIMAL" property="uniqueId" />
    <result column="QUESTION_ID" jdbcType="DECIMAL" property="questionId" />
    <result column="HIERARCHY_CODE" jdbcType="VARCHAR" property="hierarchyCode" />
    <result column="ROOT_QUESTION_ID" jdbcType="DECIMAL" property="rootQuestionId" />
    <result column="EVALUATION_LIST_ID" jdbcType="DECIMAL" property="evaluationListId" />
    <result column="QUOTE_UNIQUE_ID" jdbcType="DECIMAL" property="quoteUniqueId" />
    <result column="SORT_NUM" jdbcType="DECIMAL" property="sortNum" />
    <result column="PARENT_UNIQUE_ID" jdbcType="DECIMAL" property="parentUniqueId" />
    <result column="PARENT_OPTION_ID" jdbcType="DECIMAL" property="parentOptionId" />
    <result column="HIERARCHY_TYPE" jdbcType="DECIMAL" property="hierarchyType" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.EvaluationRelation">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="UNIQUE_ID" jdbcType="DECIMAL" property="uniqueId" />
    <result column="QUESTION_ID" jdbcType="DECIMAL" property="questionId" />
    <result column="HIERARCHY_CODE" jdbcType="VARCHAR" property="hierarchyCode" />
    <result column="ROOT_QUESTION_ID" jdbcType="DECIMAL" property="rootQuestionId" />
    <result column="EVALUATION_LIST_ID" jdbcType="DECIMAL" property="evaluationListId" />
    <result column="QUOTE_UNIQUE_ID" jdbcType="DECIMAL" property="quoteUniqueId" />
    <result column="SORT_NUM" jdbcType="DECIMAL" property="sortNum" />
    <result column="PARENT_UNIQUE_ID" jdbcType="DECIMAL" property="parentUniqueId" />
    <result column="PARENT_OPTION_ID" jdbcType="DECIMAL" property="parentOptionId" />
    <result column="HIERARCHY_TYPE" jdbcType="DECIMAL" property="hierarchyType" />
  </resultMap>
</mapper>