<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.garfield.combat.dao.EvaluationTableMapper">
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.EvaluationTable">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="TABLE_ID" jdbcType="DECIMAL" property="tableId" />
    <result column="EVALUATION_LIST_ID" jdbcType="DECIMAL" property="evaluationListId" />
    <result column="TABLE_TYPE" jdbcType="VARCHAR" property="tableType" />
    <result column="TABLE_CLASSIFY" jdbcType="DECIMAL" property="tableClassify" />
    <result column="TABLE_HEIGHT" jdbcType="DECIMAL" property="tableHeight" />
    <result column="FIXED_ROWS" jdbcType="VARCHAR" property="fixedRows" />
    <result column="FIXED_OPERATIONTOOL" jdbcType="VARCHAR" property="fixedOperationtool" />
    <result column="CONTENT_MODIFICATION" jdbcType="VARCHAR" property="contentModification" />
    <result column="CONTENT_EXAMINE" jdbcType="VARCHAR" property="contentExamine" />
    <result column="CONTENT_DELETE" jdbcType="VARCHAR" property="contentDelete" />
    <result column="FIXED_HEADER" jdbcType="VARCHAR" property="fixedHeader" />
    <result column="ALIGN_TYPE" jdbcType="DECIMAL" property="alignType" />
    <result column="TABLE_NAME" jdbcType="VARCHAR" property="tableName" />
    <result column="DATA_UNION_FLAG" jdbcType="DECIMAL" property="dataUnionFlag" />
    <result column="PATIENT_FILTRATE" jdbcType="DECIMAL" property="patientFiltrate" />
    <result column="OTHER_SET" jdbcType="VARCHAR" property="otherSet" />
  </resultMap>

</mapper>