<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.garfield.combat.dao.EvaluationStyleMapper">
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.EvaluationStyle">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="STYLE_ID" jdbcType="DECIMAL" property="styleId" />
    <result column="EVALUATION_LIST_ID" jdbcType="DECIMAL" property="evaluationListId" />
    <result column="GLOBAL_SETTING" jdbcType="VARCHAR" property="globalSetting" />
    <result column="HEADLINE_SETTING" jdbcType="VARCHAR" property="headlineSetting" />
    <result column="LABEL_SETTING" jdbcType="VARCHAR" property="labelSetting" />
    <result column="QUESTION_SETTING" jdbcType="VARCHAR" property="questionSetting" />
    <result column="OPTION_SETTING" jdbcType="VARCHAR" property="optionSetting" />
    <result column="COMMENT_SETTING" jdbcType="VARCHAR" property="commentSetting" />
  </resultMap>

</mapper>