<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.garfield.combat.dao.IoliquidDetailMapper">
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.IoliquidDetail">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="IOLIQUID_DETAIL_ID" jdbcType="DECIMAL" property="ioliquidDetailId" />
    <result column="UNIQUE_ID" jdbcType="DECIMAL" property="uniqueId" />
    <result column="ALIAS_NAME" jdbcType="VARCHAR" property="aliasName" />
    <result column="RELATE_KEY" jdbcType="VARCHAR" property="relateKey" />
    <result column="EVALUATION_LIST_ID" jdbcType="DECIMAL" property="evaluationListId" />
    <result column="IOLIQUID_RELATE_ID" jdbcType="DECIMAL" property="ioliquidRelateId" />
  </resultMap>

</mapper>