<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.garfield.combat.dao.IoliquidRelateMapper">
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.IoliquidRelate">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="IOLIQUID_RELATE_ID" jdbcType="DECIMAL" property="ioliquidRelateId" />
    <result column="EVALUATION_LIST_ID" jdbcType="DECIMAL" property="evaluationListId" />
    <result column="IOLIQUID_RELATE_NAME" jdbcType="VARCHAR" property="ioliquidRelateName" />
    <result column="IOLIQUID_TYPE" jdbcType="VARCHAR" property="ioliquidType" />
    <result column="IOLIQUID_RELATE_TYPE" jdbcType="VARCHAR" property="ioliquidRelateType" />
  </resultMap>

</mapper>