<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.garfield.combat.dao.NursingRecordMapper">
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.NursingRecord">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="TITLE" jdbcType="VARCHAR" property="title" />
    <result column="CONTENT" jdbcType="VARCHAR" property="content" />
    <result column="GROUP_ID" jdbcType="DECIMAL" property="groupId" />
    <result column="RECORD_ORDER" jdbcType="DECIMAL" property="recordOrder" />
  </resultMap>

</mapper>