<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.garfield.combat.dao.PatientProfileMapper">
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.PatientProfile">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="PAT_INDEX_NO" jdbcType="VARCHAR" property="patIndexNo" />
    <result column="ASSESSMENT_ID" jdbcType="VARCHAR" property="assessmentId" />
    <result column="CATALOGUE_CODE" jdbcType="VARCHAR" property="catalogueCode" />
    <result column="CATALOGUE_CONTENT" jdbcType="VARCHAR" property="catalogueContent" />
    <result column="EVALUATE_TIME" jdbcType="TIMESTAMP" property="evaluateTime" />
  </resultMap>

</mapper>