<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.garfield.combat.dao.RoutineAuthorityMapper">
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.RoutineAuthority">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="STEP_ID" jdbcType="DECIMAL" property="stepId" />
    <result column="AREA_ID" jdbcType="DECIMAL" property="areaId" />
    <result column="EVALUATION_ID" jdbcType="DECIMAL" property="evaluationId" />
    <result column="USER_ROLE" jdbcType="VARCHAR" property="userRole" />
    <result column="ORGAN_CODE" jdbcType="VARCHAR" property="organCode" />
    <result column="WARD_CODE_STR" jdbcType="VARCHAR" property="wardCodeStr" />
    <result column="AUTHORITY" jdbcType="DECIMAL" property="authority" />
  </resultMap>

</mapper>