<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.garfield.combat.dao.RuleMapper">
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.Rule">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="ID" jdbcType="DECIMAL" property="id" />
    <result column="CATALOGUE_RULE" jdbcType="VARCHAR" property="catalogueRule" />
    <result column="DEFAULT_TYPE" jdbcType="DECIMAL" property="defaultType" />
  </resultMap>

</mapper>