<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.garfield.combat.dao.SchemaVersionMapper" >
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.SchemaVersion" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="VERSION_RANK" property="versionRank" jdbcType="DECIMAL" />
    <result column="INSTALLED_RANK" property="installedRank" jdbcType="DECIMAL" />
    <result column="VERSION" property="version" jdbcType="VARCHAR" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="VARCHAR" />
    <result column="SCRIPT" property="script" jdbcType="VARCHAR" />
    <result column="CHECKSUM" property="checksum" jdbcType="DECIMAL" />
    <result column="INSTALLED_BY" property="installedBy" jdbcType="VARCHAR" />
    <result column="INSTALLED_ON" property="installedOn" jdbcType="TIMESTAMP" />
    <result column="EXECUTION_TIME" property="executionTime" jdbcType="DECIMAL" />
    <result column="SUCCESS" property="success" jdbcType="CHAR" />
  </resultMap>
</mapper>