<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.garfield.combat.dao.ScoreConfigureMapper">
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.ScoreConfigure">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="CONFIGURE_ITEM_ID" jdbcType="DECIMAL" property="configureItemId" />
    <result column="CONFIGURE_TOOL" jdbcType="VARCHAR" property="configureTool" />
    <result column="CONFIGURE_LEVEL" jdbcType="VARCHAR" property="configureLevel" />
    <result column="CONFIGURE_DESCRIBE" jdbcType="VARCHAR" property="configureDescribe" />
    <result column="CONFIGURE_STATUS" jdbcType="VARCHAR" property="configureStatus" />
    <result column="CONFIGURE_LEVEL_NAME" jdbcType="VARCHAR" property="configureLevelName" />
    <result column="CONFIGURE_EXPRESSION" jdbcType="VARCHAR" property="configureExpression" />
    <result column="CONFIGURE_TYPE" jdbcType="DECIMAL" property="configureType" />
    <result column="COLOR" jdbcType="VARCHAR" property="color" />
  </resultMap>

</mapper>