<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.garfield.combat.dao.SharePathMapper">
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.SharePath">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="PATH_ID" jdbcType="DECIMAL" property="pathId" />
    <result column="PATH_NAME" jdbcType="VARCHAR" property="pathName" />
    <result column="EVALUTION_ID" jdbcType="DECIMAL" property="evalutionId" />
    <result column="UNIQUE_ID" jdbcType="DECIMAL" property="uniqueId" />
    <result column="OPTION_ID" jdbcType="DECIMAL" property="optionId" />
    <result column="INTERNAL_CODE" jdbcType="VARCHAR" property="internalCode" />
  </resultMap>

</mapper>