<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.garfield.combat.dao.ShareVitalMapper">
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.ShareVital">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="VITAL_SIGN_NAME" jdbcType="VARCHAR" property="vitalSignName" />
    <result column="VITAL_SIGN_UNIT" jdbcType="VARCHAR" property="vitalSignUnit" />
    <result column="VITAL_SIGN_TYPE" jdbcType="VARCHAR" property="vitalSignType" />
    <result column="DATA_FORMAT" jdbcType="VARCHAR" property="dataFormat" />
    <result column="CATALOGUE_CODE" jdbcType="VARCHAR" property="catalogueCode" />
    <result column="CATALOGUE_RULE" jdbcType="VARCHAR" property="catalogueRule" />
    <result column="EXPLICIT_TO" jdbcType="VARCHAR" property="explicitTo" />
    <result column="VITAL_SIGN_SVAL1" jdbcType="VARCHAR" property="vitalSignSval1" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
  </resultMap>

</mapper>