<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.garfield.combat.dao.SysParamMapper">
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.SysParam">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="SYS_CODE" jdbcType="VARCHAR" property="sysCode" />
    <id column="ORGAN_CODE" jdbcType="VARCHAR" property="organCode" />
    <result column="SYS_VALUE" jdbcType="VARCHAR" property="sysValue" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.SysParam">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="SYS_CODE" jdbcType="VARCHAR" property="sysCode" />
    <id column="ORGAN_CODE" jdbcType="VARCHAR" property="organCode" />
    <result column="SYS_VALUE" jdbcType="VARCHAR" property="sysValue" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.SysParam">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="SYS_CODE" jdbcType="VARCHAR" property="sysCode" />
    <id column="ORGAN_CODE" jdbcType="VARCHAR" property="organCode" />
    <result column="SYS_VALUE" jdbcType="VARCHAR" property="sysValue" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.SysParam">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="SYS_CODE" jdbcType="VARCHAR" property="sysCode" />
    <id column="ORGAN_CODE" jdbcType="VARCHAR" property="organCode" />
    <result column="SYS_VALUE" jdbcType="VARCHAR" property="sysValue" />
    <result column="CHT_VALUE" jdbcType="VARCHAR" property="chtValue" />
    <result column="EN_VALUE" jdbcType="VARCHAR" property="enValue" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.SysParam">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="SYS_CODE" jdbcType="VARCHAR" property="sysCode" />
    <id column="ORGAN_CODE" jdbcType="VARCHAR" property="organCode" />
    <result column="SYS_VALUE" jdbcType="VARCHAR" property="sysValue" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.SysParam">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="SYS_CODE" jdbcType="VARCHAR" property="sysCode" />
    <id column="ORGAN_CODE" jdbcType="VARCHAR" property="organCode" />
    <result column="SYS_VALUE" jdbcType="VARCHAR" property="sysValue" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.SysParam">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="SYS_CODE" jdbcType="VARCHAR" property="sysCode" />
    <id column="ORGAN_CODE" jdbcType="VARCHAR" property="organCode" />
    <result column="SYS_VALUE" jdbcType="VARCHAR" property="sysValue" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.SysParam">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="SYS_CODE" jdbcType="VARCHAR" property="sysCode" />
    <id column="ORGAN_CODE" jdbcType="VARCHAR" property="organCode" />
    <result column="SYS_VALUE" jdbcType="VARCHAR" property="sysValue" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.SysParam">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="SYS_CODE" jdbcType="VARCHAR" property="sysCode" />
    <id column="ORGAN_CODE" jdbcType="VARCHAR" property="organCode" />
    <result column="SYS_VALUE" jdbcType="VARCHAR" property="sysValue" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.SysParam">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="SYS_CODE" jdbcType="VARCHAR" property="sysCode" />
    <id column="ORGAN_CODE" jdbcType="VARCHAR" property="organCode" />
    <result column="SYS_VALUE" jdbcType="VARCHAR" property="sysValue" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.SysParam">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="SYS_CODE" jdbcType="VARCHAR" property="sysCode" />
    <id column="ORGAN_CODE" jdbcType="VARCHAR" property="organCode" />
    <result column="SYS_VALUE" jdbcType="VARCHAR" property="sysValue" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.SysParam">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="SYS_CODE" jdbcType="VARCHAR" property="sysCode" />
    <id column="ORGAN_CODE" jdbcType="VARCHAR" property="organCode" />
    <result column="SYS_VALUE" jdbcType="VARCHAR" property="sysValue" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.SysParam">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="SYS_CODE" jdbcType="VARCHAR" property="sysCode" />
    <id column="ORGAN_CODE" jdbcType="VARCHAR" property="organCode" />
    <result column="SYS_VALUE" jdbcType="VARCHAR" property="sysValue" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.SysParam">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="SYS_CODE" jdbcType="VARCHAR" property="sysCode" />
    <id column="ORGAN_CODE" jdbcType="VARCHAR" property="organCode" />
    <result column="SYS_VALUE" jdbcType="VARCHAR" property="sysValue" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.SysParam">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="SYS_CODE" jdbcType="VARCHAR" property="sysCode" />
    <id column="ORGAN_CODE" jdbcType="VARCHAR" property="organCode" />
    <result column="SYS_VALUE" jdbcType="VARCHAR" property="sysValue" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.SysParam">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="SYS_CODE" jdbcType="VARCHAR" property="sysCode" />
    <id column="ORGAN_CODE" jdbcType="VARCHAR" property="organCode" />
    <result column="SYS_VALUE" jdbcType="VARCHAR" property="sysValue" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.SysParam">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="SYS_CODE" jdbcType="OTHER" property="sysCode" />
    <id column="ORGAN_CODE" jdbcType="OTHER" property="organCode" />
    <result column="SYS_VALUE" jdbcType="OTHER" property="sysValue" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.SysParam">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="SYS_CODE" jdbcType="VARCHAR" property="sysCode" />
    <id column="ORGAN_CODE" jdbcType="VARCHAR" property="organCode" />
    <result column="SYS_VALUE" jdbcType="VARCHAR" property="sysValue" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.SysParam">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="SYS_CODE" jdbcType="VARCHAR" property="sysCode" />
    <id column="ORGAN_CODE" jdbcType="VARCHAR" property="organCode" />
    <result column="SYS_VALUE" jdbcType="VARCHAR" property="sysValue" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.SysParam">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="SYS_CODE" jdbcType="VARCHAR" property="sysCode" />
    <id column="ORGAN_CODE" jdbcType="VARCHAR" property="organCode" />
    <result column="SYS_VALUE" jdbcType="VARCHAR" property="sysValue" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.SysParam">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="SYS_CODE" jdbcType="VARCHAR" property="sysCode" />
    <id column="ORGAN_CODE" jdbcType="VARCHAR" property="organCode" />
    <result column="SYS_VALUE" jdbcType="VARCHAR" property="sysValue" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.SysParam">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="SYS_CODE" jdbcType="VARCHAR" property="sysCode" />
    <id column="ORGAN_CODE" jdbcType="VARCHAR" property="organCode" />
    <result column="SYS_VALUE" jdbcType="VARCHAR" property="sysValue" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.SysParam">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="SYS_CODE" jdbcType="OTHER" property="sysCode" />
    <id column="ORGAN_CODE" jdbcType="OTHER" property="organCode" />
    <result column="SYS_VALUE" jdbcType="OTHER" property="sysValue" />
    <result column="WARD_CODE" jdbcType="OTHER" property="wardCode" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.SysParam">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="SYS_CODE" jdbcType="VARCHAR" property="sysCode" />
    <id column="ORGAN_CODE" jdbcType="VARCHAR" property="organCode" />
    <result column="SYS_VALUE" jdbcType="VARCHAR" property="sysValue" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.SysParam">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="SYS_CODE" jdbcType="VARCHAR" property="sysCode" />
    <id column="ORGAN_CODE" jdbcType="VARCHAR" property="organCode" />
    <result column="SYS_VALUE" jdbcType="VARCHAR" property="sysValue" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.SysParam">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="SYS_CODE" jdbcType="VARCHAR" property="sysCode" />
    <id column="ORGAN_CODE" jdbcType="VARCHAR" property="organCode" />
    <result column="SYS_VALUE" jdbcType="VARCHAR" property="sysValue" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.SysParam">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="SYS_CODE" jdbcType="VARCHAR" property="sysCode" />
    <id column="ORGAN_CODE" jdbcType="VARCHAR" property="organCode" />
    <result column="SYS_VALUE" jdbcType="VARCHAR" property="sysValue" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.SysParam">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="SYS_CODE" jdbcType="VARCHAR" property="sysCode" />
    <id column="ORGAN_CODE" jdbcType="VARCHAR" property="organCode" />
    <result column="SYS_VALUE" jdbcType="VARCHAR" property="sysValue" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.SysParam">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="SYS_CODE" jdbcType="VARCHAR" property="sysCode" />
    <id column="ORGAN_CODE" jdbcType="VARCHAR" property="organCode" />
    <result column="SYS_VALUE" jdbcType="VARCHAR" property="sysValue" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.SysParam">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="SYS_CODE" jdbcType="VARCHAR" property="sysCode" />
    <id column="ORGAN_CODE" jdbcType="VARCHAR" property="organCode" />
    <result column="SYS_VALUE" jdbcType="VARCHAR" property="sysValue" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.SysParam">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="SYS_CODE" jdbcType="VARCHAR" property="sysCode" />
    <id column="ORGAN_CODE" jdbcType="VARCHAR" property="organCode" />
    <result column="SYS_VALUE" jdbcType="VARCHAR" property="sysValue" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.SysParam">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="SYS_CODE" jdbcType="VARCHAR" property="sysCode" />
    <id column="ORGAN_CODE" jdbcType="VARCHAR" property="organCode" />
    <result column="SYS_VALUE" jdbcType="VARCHAR" property="sysValue" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.SysParam">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="SYS_CODE" jdbcType="VARCHAR" property="sysCode" />
    <id column="ORGAN_CODE" jdbcType="VARCHAR" property="organCode" />
    <result column="SYS_VALUE" jdbcType="VARCHAR" property="sysValue" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.SysParam">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="SYS_CODE" jdbcType="VARCHAR" property="sysCode" />
    <id column="ORGAN_CODE" jdbcType="VARCHAR" property="organCode" />
    <result column="SYS_VALUE" jdbcType="VARCHAR" property="sysValue" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.SysParam">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="SYS_CODE" jdbcType="VARCHAR" property="sysCode" />
    <id column="ORGAN_CODE" jdbcType="VARCHAR" property="organCode" />
    <result column="SYS_VALUE" jdbcType="VARCHAR" property="sysValue" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.SysParam">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="SYS_CODE" jdbcType="VARCHAR" property="sysCode" />
    <id column="ORGAN_CODE" jdbcType="VARCHAR" property="organCode" />
    <result column="SYS_VALUE" jdbcType="VARCHAR" property="sysValue" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.SysParam">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="SYS_CODE" jdbcType="VARCHAR" property="sysCode" />
    <id column="ORGAN_CODE" jdbcType="VARCHAR" property="organCode" />
    <result column="SYS_VALUE" jdbcType="VARCHAR" property="sysValue" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.SysParam">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="SYS_CODE" jdbcType="VARCHAR" property="sysCode" />
    <id column="ORGAN_CODE" jdbcType="VARCHAR" property="organCode" />
    <result column="SYS_VALUE" jdbcType="VARCHAR" property="sysValue" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.garfield.combat.domain.entity.SysParam">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="SYS_CODE" jdbcType="VARCHAR" property="sysCode" />
    <id column="ORGAN_CODE" jdbcType="VARCHAR" property="organCode" />
    <result column="SYS_VALUE" jdbcType="VARCHAR" property="sysValue" />
  </resultMap>
</mapper>